<a href="https://colab.research.google.com/github/carsofferrei/04_data_processing/blob/main/spark/challenges/challenge_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CHALLENGE 1
##  Implement INGESTION process
- Set up path in the "lake"
  - !mkdir -p /content/lake/bronze

- Read data from API https://api.carrismetropolitana.pt/
  - Endpoints:
    - vehicles
    - lines
    - municipalities
  - Use StructFields to enforce schema

- Transformations
  - vehicles
    - create "date" extracted from "timestamp" column (format: hh24miss)

- Write data as PARQUET into the BRONZE layer (/content/lake/bronze)
  - Partition "vehicles" by "date" column
  - Paths:
    - vehicles - path: /content/lake/bronze/vehicles
    - lines - path: /content/lake/bronze/lines
    - municipalities - path: /content/lake/bronze/municipalities
  - Make sure there is only 1 single parquet created
  - Use overwrite as write mode

# Setting up PySpark

In [109]:
%pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [1]:
# Import SparkSession

from pyspark.sql import SparkSession
spark = SparkSession.builder.master('local').appName('Carla_Ferreira_API_challenge').config('spark.ui.port', '4050').getOrCreate()
sc = spark.sparkContext

In [2]:
import requests
from pyspark.sql.types import *

def readFromAPI(url: str, schema: StructType = None):
  response = requests.get(url)
  rdd = sc.parallelize(response.json())

  if schema:
    df = spark.read.schema(schema).json(rdd)
  else:
    df = spark.read.json(rdd)
  return df

In [3]:
#Schemas
vehicle_schema = StructType([StructField('bearing', IntegerType(), True),
                             StructField('block_id', StringType(), True),
                             StructField('current_status', StringType(), True),
                             StructField('id', StringType(), True),
                             StructField('lat', FloatType(), True),
                             StructField('line_id', StringType(), True),
                             StructField('lon', FloatType(), True),
                             StructField('pattern_id', StringType(), True),
                             StructField('route_id', StringType(), True),
                             StructField('schedule_relationship', StringType(), True),
                             StructField('shift_id', StringType(), True),
                             StructField('speed', FloatType(), True),
                             StructField('stop_id', StringType(), True),
                             StructField('timestamp', TimestampType(), True),
                             StructField('trip_id', StringType(), True)
                             ])


lines_schema = StructType([StructField('_corrupt_record', StringType(), True),
                           StructField('color', StringType(), True),
                           StructField('facilities', StringType(), True),
                           StructField('id', StringType(), True),
                           StructField('localities', ArrayType(StringType()), True),
                           StructField('long_name', StringType(), True),
                           StructField('municipalities', ArrayType(StringType()), True),
                           StructField('patterns', ArrayType(StringType()), True),
                           StructField('routes', StringType(), True),
                           StructField('short_name', StringType(), True),
                           StructField('text_color', StringType(), True)
                           ])

municipalities_schema = StructType([StructField('district_id', StringType(), True),
                                    StructField('district_name', StringType(), True),
                                    StructField('id', StringType(), True),
                                    StructField('name', StringType(), True),
                                    StructField('prefix', StringType(), True),
                                    StructField('region_id', StringType(), True),
                                    StructField('region_name', StringType(), True)
                                    ])

In [4]:
vehicles = readFromAPI("https://api.carrismetropolitana.pt/vehicles", schema = vehicle_schema)
lines = readFromAPI("https://api.carrismetropolitana.pt/lines", schema = lines_schema)
municipalities = readFromAPI("https://api.carrismetropolitana.pt/municipalities", schema = municipalities_schema)

In [5]:
# create "date" extracted from "timestamp" column (format: hh24miss) -- this format doesnt make sense, the correct is yyyyMMdd
from pyspark.sql.functions import date_format
vehicles = vehicles.withColumn("date", date_format('timestamp', "yyyyMMdd"))

vehicles.show()

+-------+--------------------+--------------+--------+---------+-------+---------+----------+--------+---------------------+------------+---------+-------+-------------------+--------------------+--------+
|bearing|            block_id|current_status|      id|      lat|line_id|      lon|pattern_id|route_id|schedule_relationship|    shift_id|    speed|stop_id|          timestamp|             trip_id|    date|
+-------+--------------------+--------------+--------+---------+-------+---------+----------+--------+---------------------+------------+---------+-------+-------------------+--------------------+--------+
|    201|20241123-64020071...| IN_TRANSIT_TO|44|12066|38.529713|   4404|-8.885915|  4404_0_3|  4404_0|            SCHEDULED|112170000007|      0.0| 160067|2024-11-23 09:58:53|4404_0_3|2300|100...|20241123|
|    165|20241123-64020035...| IN_TRANSIT_TO|44|12745|38.663094|   4730|-9.161282|  4730_2_1|  4730_2|            SCHEDULED|113030000007|6.9444447| 140089|2024-11-23 09:58:52|4730_2_1|2300|093...|20241123|
|     46|20241123-64020002...| IN_TRANSIT_TO|44|12525|38.708126|   4504|-8.922889|  4504_0_1|  4504_0|            SCHEDULED|121020000007|      0.0| 010112|2024-11-23 09:58:54|4504_0_1|2300|093...|20241123|
|    260|20241123-64020046...| IN_TRANSIT_TO|44|12633|38.751595|   4001| -8.94512|  4001_0_3|  4001_0|            SCHEDULED|121140000007|6.6666665| 010039|2024-11-23 09:58:53|4001_0_3|2300|093...|20241123|
|    190|20241123-64020056...| IN_TRANSIT_TO|44|12608|38.536404|   4562|-8.882328|  4562_0_2|  4562_0|            SCHEDULED|111130000007| 6.111111| 162008|2024-11-23 09:58:53|4562_0_2|2300|090...|20241123|
|    291|20241123-64020075...|   INCOMING_AT|44|12503|38.755375|   4501|-8.949975|  4501_0_1|  4501_0|            SCHEDULED|121240000007|11.666667| 010140|2024-11-23 09:58:56|4501_0_1|2300|095...|20241123|
|    276|20241123-64020032...|   INCOMING_AT|44|12656| 38.70322|   4706|-8.964802|  4706_0_2|  4706_0|            SCHEDULED|123050000007| 9.166667| 100009|2024-11-23 09:59:01|4706_0_2|2300|093...|20241123|
|     16|20241123-64020058...| IN_TRANSIT_TO|44|12708|38.540146|   4720|-8.872432|  4720_0_2|  4720_0|            SCHEDULED|113080000007|17.777779| 060005|2024-11-23 09:58:53|4720_0_2|2300|094...|20241123|
|     99|20241123-64020273...| IN_TRANSIT_TO|44|12654|38.773094|   4701|-9.105177|  4701_0_2|  4701_0|            SCHEDULED|123080000007|3.6111112| 060001|2024-11-23 09:58:53|4701_0_2|2300|091...|20241123|
|     38|20241123-64020255...| IN_TRANSIT_TO|44|12662|38.674156|   4701|-8.971394|  4701_0_2|  4701_0|            SCHEDULED|123010000007|12.222222| 100190|2024-11-23 09:58:57|4701_0_2|2300|093...|20241123|
|    214|             4501-21|    STOPPED_AT| 42|2378|  38.7753|   2822| -9.19458|  2822_0_1|  2822_0|            SCHEDULED|        4501|      0.0| 110834|2024-11-23 09:59:04|2822_0_1|2|1|0945...|20241123|
|    156|             4049-21| IN_TRANSIT_TO| 42|2106| 38.80876|   2725|-9.116775|  2725_0_2|  2725_0|            SCHEDULED|        4049|11.388889| 070114|2024-11-23 09:59:03|2725_0_2|2|1|0930...|20241123|
|    166|      ESC_SAB_ES3006| IN_TRANSIT_TO| 43|2033|38.447266|   3205|-9.101859|  3205_0_1|  3205_0|            SCHEDULED|      ES3006| 8.333333| 150051|2024-11-23 09:58:30|3205_0_1_0930_095...|20241123|
|    160|                1078|   INCOMING_AT| 42|1078|38.921947|   2740|-9.294331|  2740_0_1|  2740_0|            SCHEDULED|       47126| 8.333333| 080338|2024-11-23 09:58:56|2740_0_1|160|1|09...|20241123|
|    332|           2_2215-21| IN_TRANSIT_TO| 41|1329| 38.71643|   1731|-9.301818|  1731_0_2|  1731_0|            SCHEDULED|        2215| 6.111111| 120921|2024-11-23 09:58:36|1731_0_2_0900_092...|20241123|
|      0|             4018-21|    STOPPED_AT| 42|2418|38.890373|   2790|-9.034171|  2790_0_1|  2790_0|            SCHEDULED|        4018|      0.0| 182258|2024-11-23 09:58:02|2790_0_1|2|1|1000...|20241123|
|    232|           2_2730-21|   INCOMING_AT|  41|540| 38.80117|   1235|-9.312263|  1235_0_1|  1235_0|            SCHEDULED|        2730|      7.5| 170371|2024-11-23 09:58:27|1235_0_1_0930_095...|20241123|
|    293|20241123-64020004...| IN_TRANSIT_TO|44|12536|38.751377|   4600|-8.942855|  4600_0_1|  4600_0|            SCHEDULED|121030000007|      0.0| 010136|2024-11-23 09:58:58|4600_0_1|2300|100...|20241123|
|     11|           2_2716-21| IN_TRANSIT_TO| 41|1235| 38.78605|   1205|-9.329948|  1205_0_2|  1205_0|            SCHEDULED|        2716| 8.055555| 170271|2024-11-23 09:58:43|1205_0_2_0930_095...|20241123|
|     17|           2_2731-21| IN_TRANSIT_TO| 41|1236|38.770535|   1623|-9.379874|  1623_1_1|  1623_1|            SCHEDULED|        2731| 9.722222| 172297|2024-11-23 09:58:55|1623_1_1_0930_095...|20241123|
+-------+--------------------+--------------+--------+---------+-------+---------+----------+--------+---------------------+------------+---------+-------+-------------------+--------------------+--------+
only showing top 20 rows

In [6]:
from pyspark.sql import functions as F

vehicles.select("date").distinct().agg(F.min("date").alias("min_date")).show()
vehicles.select("date").distinct().agg(F.max("date").alias("max_date")).show()

# there's only one day in this file.

+--------+
|min_date|
+--------+
|20241123|
+--------+

+--------+
|max_date|
+--------+
|20241123|
+--------+

Write data as PARQUET into the BRONZE layer (/content/lake/bronze)

*   Partition "vehicles" by "date" column
*   Paths: /content/lake/bronze/vehicles, /content/lake/bronze/lines
, /content/lake/bronze/municipalities

Make sure there is only 1 single parquet created /
Use overwrite as write mode

Declare the directory to write the data that came from API carrismetropolitana

In [7]:
!mkdir -p /content/lake/bronze

path_vehicles = "/content/lake/bronze/vehicles"
path_lines = "/content/lake/bronze/lines"
path_municipalities = "/content/lake/bronze/municipalities"

In [8]:
(vehicles
.coalesce(1)
.write
.mode("overwrite")
.partitionBy("date")
.format("parquet")
.save(path_vehicles)
)


(lines
.write
.mode("overwrite")
.format("parquet")
.save(path_lines)
)


(municipalities
.write
.mode("overwrite")
.format("parquet")
.save(path_municipalities)
)

# CHALLENGE 2
##  Implement CLEANSING process
- Set up path in the "lake"
  - !mkdir -p /content/lake/silver

- Read data from BRONZE layer as PARQUET:
    - vehicles - path: /content/lake/bronze/vehicles
    - lines - path: /content/lake/bronze/lines
    - municipalities - path: /content/lake/bronze/municipalities

- Transformations
  - vehicles
    - rename "lat" and "lon" to "latitude" and "longitude" respectively
    - remove possible duplicates
    - remove rows when the column CURRENT_STATUS is null
    - remove any corrupted record
  - lines
    - remove duplicates
    - remove rows when the column LONG_NAME is null
    - remove any corrupted record
  - municipalities
    - remove duplicates
    - remove rows when the columns NAME or DISTRICT_NAME are null
    - remove any corrupted record

- Write data as PARQUET into the SILVER layer (/content/lake/silver)
  - Partition "vehicles" by "date"(created in the ingestion)
  - Paths:
    - vehicles - path: /content/lake/silver/vehicles
    - lines - path: /content/lake/silver/lines
    - municipalities - path: /content/lake/silver/municipalities

In [9]:
vehicles = spark.read.parquet("/content/lake/bronze/vehicles", schema = vehicle_schema)

In [10]:
lines = spark.read.parquet("/content/lake/bronze/lines", schema = lines_schema)

In [11]:
municipalities = spark.read.parquet("/content/lake/bronze/municipalities", schema = municipalities_schema)

In [12]:
from pyspark.sql.functions import *

# Vehicles
# rename "lat" and "lon" to "latitude" and "longitude" respectively
vehicles = vehicles.withColumnRenamed("lat", "latitude").withColumnRenamed("lon", "longitude")

# remove possible duplicates
vehicles = vehicles.dropDuplicates()
# remove rows when the column CURRENT_STATUS is null
vehicles = vehicles.filter(vehicles["current_status"].isNotNull())
# remove any corrupted record (????)

In [13]:
from pyspark.sql.functions import *

# Lines
# remove duplicates
lines = lines.dropDuplicates()
# remove rows when the column LONG_NAME is null
lines = lines.filter(lines["long_name"].isNotNull())
# remove any corrupted record
lines = lines.filter(lines["_corrupt_record"].isNull())

In [14]:
# Municipalities
# remove duplicates
municipalities = municipalities.dropDuplicates()
# remove rows when the columns NAME or DISTRICT_NAME are null
municipalities = municipalities.filter(municipalities["name"].isNotNull() & municipalities["district_name"].isNotNull())
# remove any corrupted record (???)

In [15]:
!mkdir -p /content/lake/silver

In [16]:
path_vehicles = "/content/lake/silver/vehicles"
path_lines = "/content/lake/silver/lines"
path_municipalities = "/content/lake/silver/municipalities"

In [17]:
(vehicles
.coalesce(1)
.write
.mode("overwrite")
.partitionBy("date")
.format("parquet")
.save(path_vehicles)
)


(lines
.write
.mode("overwrite")
.format("parquet")
.save(path_lines)
)


(municipalities
.write
.mode("overwrite")
.format("parquet")
.save(path_municipalities)
)

# CHALLENGE 3
##  Implement ENRICH process
- Set up path in the "lake"
  - !mkdir -p /content/lake/gold

- Read data from SILVER layer
  - Paths:
    - vehicles - path: /content/lake/silver/vehicles
    - lines - path: /content/lake/silver/lines
    - municipalities - path: /content/lake/silver/municipalities
  - Use StructFields to enforce schema

- Enrichment
  - Enrich vehicles dataset with information from the line and municipalities
    - join vehicles with lines and municipalities
      - select all columns from vehicles + lines.long_name (name: line_name, format:string) + municipalities.name (name: municipality_name, format: array)
      - Note that "municipalities.name" is an array

- Write data as PARQUET into the GOLD layer (/content/lake/gold)
  - Dataset name: vehicles_enriched
  - Partition "vehicles_enriched" by "date" column
  - Paths:
    - vehicles - path: /content/lake/gold/vehicles_enriched
  - Make sure there is only 1 single parquet created
  - Use overwrite as write mode

In [18]:
vehicles = spark.read.parquet("/content/lake/silver/vehicles", schema = vehicle_schema)

In [19]:
lines = spark.read.parquet("/content/lake/silver/lines", schema = lines_schema)

In [20]:
municipalities = spark.read.parquet("/content/lake/silver/municipalities", schema = municipalities_schema)

In [21]:
# Extract info from the array in municiples
from pyspark.sql.functions import explode
lines_treated = lines.select(
    "facilities"
    , "id"
    , "localities"
    , explode(lines.municipalities).alias("municipalities_id")
).drop_duplicates()

In [22]:
vehicles_lines = vehicles.join(lines_treated, vehicles['line_id'] == lines_treated['id'], how = 'left')
vehicles_enriched = vehicles_lines.join(municipalities, lines_treated['municipalities_id'] == municipalities['id'], how = 'left')
vehicles_enriched.dropDuplicates().show()

+-------+--------------------+--------------+--------+---------+-------+---------+----------+--------+---------------------+------------+---------+-------+-------------------+--------------------+--------+----------+----+--------------------+-----------------+-----------+-------------+----+--------+------+---------+-----------+
|bearing|            block_id|current_status|      id| latitude|line_id|longitude|pattern_id|route_id|schedule_relationship|    shift_id|    speed|stop_id|          timestamp|             trip_id|    date|facilities|  id|          localities|municipalities_id|district_id|district_name|  id|    name|prefix|region_id|region_name|
+-------+--------------------+--------------+--------+---------+-------+---------+----------+--------+---------------------+------------+---------+-------+-------------------+--------------------+--------+----------+----+--------------------+-----------------+-----------+-------------+----+--------+------+---------+-----------+
|    316|             4050-21| IN_TRANSIT_TO| 42|2103| 38.81987|   2725|-9.175715|  2725_0_2|  2725_0|            SCHEDULED|        4050|      0.0| 070369|2024-11-23 09:58:30|2725_0_2|2|1|1005...|20241123|        []|2725|[Parque das Naçõe...|             1107|         11|       Lisboa|1107|  Loures|    07|    PT170|        AML|
|      0|      ESC_SAB_ES1011|    STOPPED_AT| 43|2334|38.667847|   3512|-9.159355|  3512_0_2|  3512_0|            SCHEDULED|      ES1004|      0.0| 020077|2024-11-23 09:58:55|3512_0_2_0900_092...|20241123|        []|3512|[Cacilhas, Cova d...|             1503|         15|      Setúbal|1503|  Almada|    02|    PT170|        AML|
|    192|      ESC_SAB_ES2059|   INCOMING_AT| 43|2000|38.601883|   3015|-9.186773|  3015_0_2|  3015_0|            SCHEDULED|      ES2061| 9.722222| 020180|2024-11-23 09:58:25|3015_0_2_0900_092...|20241123|        []|3015|[Charneca da Capa...|             1503|         15|      Setúbal|1503|  Almada|    02|    PT170|        AML|
|    222|           2_2009-21|    STOPPED_AT| 41|1248| 38.76733|   1703|-9.222192|  1703_0_2|  1703_0|            SCHEDULED|        2009|0.2777778| 030361|2024-11-23 09:59:03|1703_0_2_0930_095...|20241123|        []|1703|[Amadora, Pontinh...|             1106|         11|       Lisboa|1106|  Lisboa|    06|    PT170|        AML|
|    134|             4512-21| IN_TRANSIT_TO| 42|2208|38.783867|   2605|-9.286275|  2605_2_1|  2605_2|            SCHEDULED|        4512|10.277778| 170583|2024-11-23 09:58:54|2605_2_1|2|1|0950...|20241123|        []|2605|[Cacém, Sintra, B...|             1116|         11|       Lisboa|1116|Odivelas|    11|    PT170|        AML|
|      0|           2_2411-21|    STOPPED_AT| 41|1288|38.733818|   1606|-9.229818|  1606_0_1|  1606_0|            SCHEDULED|        2411|      0.0| 121213|2024-11-23 09:58:56|1606_0_1_1000_102...|20241123|        []|1606|[Carnaxide, Oeira...|             1110|         11|       Lisboa|1110|  Oeiras|    12|    PT170|        AML|
|    183|                1257| IN_TRANSIT_TO| 42|1257|38.780075|   2754|-9.164396|  2754_0_2|  2754_0|            SCHEDULED|       46219|15.555555| 060008|2024-11-23 09:58:33|2754_0_2|160|1|09...|20241123|        []|2754|[Campo Grande, Od...|             1106|         11|       Lisboa|1106|  Lisboa|    06|    PT170|        AML|
|    292|           2_2306-21| IN_TRANSIT_TO| 41|1212|38.699326|   1614|-9.335362|  1614_0_1|  1614_0|            SCHEDULED|        2321| 6.111111| 050023|2024-11-23 09:58:57|1614_0_1_0930_095...|20241123|        []|1614|[Carcavelos, Casc...|             1105|         11|       Lisboa|1105| Cascais|    05|    PT170|        AML|
|     46|20241123-64020002...| IN_TRANSIT_TO|44|12525|38.708126|   4504|-8.922889|  4504_0_1|  4504_0|            SCHEDULED|121020000007|      0.0| 010112|2024-11-23 09:58:54|4504_0_1|2300|093...|20241123|        []|4504|[Montijo, Bairro ...|             1507|         15|      Setúbal|1507| Montijo|    10|    PT170|        AML|
|     22|20241123-64020064...| IN_TRANSIT_TO|44|12504| 38.52979|   4512|-8.885973|  4512_0_2|  4512_0|            SCHEDULED|121210000007|      0.0| 162008|2024-11-23 09:59:02|4512_0_2|2300|100...|20241123|      NULL|NULL|                NULL|             NULL|       NULL|         NULL|NULL|    NULL|  NULL|     NULL|       NULL|
|    291|20241123-64020075...|   INCOMING_AT|44|12503|38.755375|   4501|-8.949975|  4501_0_1|  4501_0|            SCHEDULED|121240000007|11.666667| 010140|2024-11-23 09:58:56|4501_0_1|2300|095...|20241123|        []|4501|[Alcochete, Valbo...|             1507|         15|      Setúbal|1507| Montijo|    10|    PT170|        AML|
|      0|           2_2629-21|    STOPPED_AT| 41|1306|38.757668|   1717|-9.222201|  1717_0_1|  1717_0|            SCHEDULED|        2629|      0.0| 030613|2024-11-23 09:58:53|1717_0_1_0930_095...|20241123|        []|1717|[Colégio Militar,...|             1106|         11|       Lisboa|1106|  Lisboa|    06|    PT170|        AML|
|    223|           2_2621-21|   INCOMING_AT| 41|1867|38.742207|   1717|-9.268606|  1717_0_1|  1717_0|            SCHEDULED|        2621|7.2222223| 120389|2024-11-23 09:59:00|1717_0_1_0900_092...|20241123|        []|1717|[Colégio Militar,...|             1110|         11|       Lisboa|1110|  Oeiras|    12|    PT170|        AML|
|    120|           2_2317-21| IN_TRANSIT_TO| 41|1238|38.799595|   1614|-9.356737|  1614_0_2|  1614_0|            SCHEDULED|        2317|10.833333| 170810|2024-11-23 09:59:04|1614_0_2_0930_095...|20241123|        []|1614|[Carcavelos, Casc...|             1110|         11|       Lisboa|1110|  Oeiras|    12|    PT170|        AML|
|      9|           2_2740-21|   INCOMING_AT| 41|1418|38.770508|   1234|-9.357533|  1234_0_1|  1234_0|            SCHEDULED|        2740|6.6666665| 171175|2024-11-23 09:59:03|1234_0_1_0930_095...|20241123|        []|1234|[Sintra, Alto do ...|             1111|         11|       Lisboa|1111|  Sintra|    17|    PT170|        AML|
|      0|UNAVAILABLE_BLOCK_ID|    STOPPED_AT| 43|2085|38.673393|   3026|-9.175815|  3026_0_2|  3026_0|            SCHEDULED|      ES2071|      0.0| 021064|2024-11-23 09:57:43|3026_0_2_0930_095...|20241123|        []|3026|[Cova da Piedade,...|             1503|         15|      Setúbal|1503|  Almada|    02|    PT170|        AML|
|      0|           2_2734-21|    STOPPED_AT| 41|1239| 38.80245|   1206|-9.377101|  1206_1_2|  1206_1|            SCHEDULED|        2734|      0.0| 172485|2024-11-23 09:58:36|1206_1_2_1000_102...|20241123|        []|1206|[Algueirão, Sintr...|             1111|         11|       Lisboa|1111|  Sintra|    17|    PT170|        AML|
|    159|           2_2718-21|    STOPPED_AT| 41|1223| 38.72871|   1628|-9.418388|  1628_0_2|  1628_0|            SCHEDULED|        2718|5.2777777| 050233|2024-11-23 09:58:35|1628_0_2_0900_092...|20241123|        []|1628|[Estoril, Monte E...|             1105|         11|       Lisboa|1105| Cascais|    05|    PT170|        AML|
|      0|             4704-21|    STOPPED_AT| 42|2505| 38.83355|   2037|-9.155778|  2037_0_3|  2037_0|            SCHEDULED|        4704|      0.0| 070385|2024-11-23 09:58:48|2037_0_3|2|1|0935...|20241123|        []|2037|[Zambujal, Loures...|             1107|         11|       Lisboa|1107|  Loures|    07|    PT170|        AML|
|    197|           2_2739-21|   INCOMING_AT| 41|1242|38.808167|   1241|-9.349294|  1241_0_1|  1241_0|            SCHEDULED|        2739|7.2222223| 175364|2024-11-23 09:58:09|1241_0_1_0930_095...|20241123|        []|1241|[Almoçageme, Sint...|             1111|         11|       Lisboa|1111|  Sintra|    17|    PT170|        AML|
+-------+--------------------+--------------+--------+---------+-------+---------+----------+--------+---------------------+------------+---------+-------+-------------------+--------------------+--------+----------+----+--------------------+-----------------+-----------+-------------+----+--------+------+---------+-----------+
only showing top 20 rows

In [23]:
vehicles_enriched = vehicles_enriched.select(
      "line_id"
    , "current_status"
    , "schedule_relationship"
    , "shift_id"
    , "speed"
    , "stop_id"
    , "date"
    , "facilities"
    , "municipalities_id"
    , "district_name"
    , "name"
    , "prefix"
    , "region_id"
    , "region_name"
).drop_duplicates()

In [24]:
!mkdir -p /content/lake/gold

In [25]:
path_vehicles_enriched = "/content/lake/gold/vehicles_enriched"

In [26]:
vehicles_enriched.show()

+-------+--------------+---------------------+----------------+---------+-------+--------+----------+-----------------+-------------+-------+------+---------+-----------+
|line_id|current_status|schedule_relationship|        shift_id|    speed|stop_id|    date|facilities|municipalities_id|district_name|   name|prefix|region_id|region_name|
+-------+--------------+---------------------+----------------+---------+-------+--------+----------+-----------------+-------------+-------+------+---------+-----------+
|   1721|    STOPPED_AT|            SCHEDULED|            2609|      0.0| 060055|20241123|        []|             1106|       Lisboa| Lisboa|    06|    PT170|        AML|
|   4701| IN_TRANSIT_TO|            SCHEDULED|    123070000007|      0.0| 090018|20241123|        []|             1106|       Lisboa| Lisboa|    06|    PT170|        AML|
|   2790|    STOPPED_AT|            SCHEDULED|            4018|      0.0| 182258|20241123|        []|             1107|       Lisboa| Loures|    07|    PT170|        AML|
|   1501| IN_TRANSIT_TO|            SCHEDULED|            2036| 9.166667| 030678|20241123|        []|             1110|       Lisboa| Oeiras|    12|    PT170|        AML|
|   3526|   INCOMING_AT|            SCHEDULED|          ES1022|7.7777777| 140715|20241123|        []|             1510|      Setúbal| Seixal|    14|    PT170|        AML|
|   3721| IN_TRANSIT_TO|            SCHEDULED|          ES3005|15.555555| 150215|20241123|        []|             1503|      Setúbal| Almada|    02|    PT170|        AML|
|   2036| IN_TRANSIT_TO|            SCHEDULED|            4058| 8.333333| 071361|20241123|        []|             1107|       Lisboa| Loures|    07|    PT170|        AML|
|   1515| IN_TRANSIT_TO|            SCHEDULED|            2008| 8.611111| 030606|20241123|        []|             1115|       Lisboa|Amadora|    03|    PT170|        AML|
|   2776|    STOPPED_AT|            SCHEDULED|           43844|      0.0| 060341|20241123|        []|             1107|       Lisboa| Loures|    07|    PT170|        AML|
|   1629|    STOPPED_AT|            SCHEDULED|            2729|1.6666666| 171205|20241123|        []|             1111|       Lisboa| Sintra|    17|    PT170|        AML|
|   2626|   INCOMING_AT|            SCHEDULED|           43802|11.666667| 171963|20241123|        []|             1109|       Lisboa|  Mafra|    08|    PT170|        AML|
|   1507|    STOPPED_AT|            SCHEDULED|            2025|3.0555556| 030027|20241123|        []|             1115|       Lisboa|Amadora|    03|    PT170|        AML|
|   1235|   INCOMING_AT|            SCHEDULED|            2730|      7.5| 170371|20241123|        []|             1111|       Lisboa| Sintra|    17|    PT170|        AML|
|   4562| IN_TRANSIT_TO|            SCHEDULED|    111130000007| 6.111111| 162008|20241123|        []|             1508|      Setúbal|Palmela|    13|    PT170|        AML|
|   3001|    STOPPED_AT|            SCHEDULED|          ES2044|      0.0| 020015|20241123|        []|             1503|      Setúbal| Almada|    02|    PT170|        AML|
|   1608|    STOPPED_AT|            SCHEDULED|TP 2+2319(13:30)|      0.0| 121235|20241123|        []|             1105|       Lisboa|Cascais|    05|    PT170|        AML|
|   2750| IN_TRANSIT_TO|            SCHEDULED|            4703|     10.0| 070521|20241123|        []|             1109|       Lisboa|  Mafra|    08|    PT170|        AML|
|   1529|    STOPPED_AT|            SCHEDULED|            2410|      0.0| 120930|20241123|        []|             1111|       Lisboa| Sintra|    17|    PT170|        AML|
|   1709| IN_TRANSIT_TO|            SCHEDULED|            2049|11.388889| 030803|20241123|        []|             1111|       Lisboa| Sintra|    17|    PT170|        AML|
|   2734| IN_TRANSIT_TO|            SCHEDULED|            4059|11.111111| 070125|20241123|        []|             1107|       Lisboa| Loures|    07|    PT170|        AML|
+-------+--------------+---------------------+----------------+---------+-------+--------+----------+-----------------+-------------+-------+------+---------+-----------+
only showing top 20 rows

In [27]:
(vehicles_enriched
.coalesce(1)
.write
.mode("overwrite")
.partitionBy("date")
.format("parquet")
.save(path_vehicles_enriched)
)

# CHALLENGE 4
##  Analyze data

- Query table "vehicles_enriched" in gold layer
- Aggregate data by municipality_name (array)
- Calculate:
  - count of vehicles (id) that pass through that municipality
  - sum speed of vehicles

Questions:
  - What are the top 3 municipalities by vehicles routes?
  - What are the top 3 municipalities with higher vehicle speed on average?


Tips:
- explode array into rows -> https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/api/pyspark.sql.functions.explode.html

In [28]:
vehicles_enriched = spark.read.parquet("/content/lake/gold/vehicles_enriched")

In [29]:
vehicles_enriched.filter(vehicles_enriched.name == "Lisboa").show()

+-------+--------------+---------------------+------------+---------+-------+----------+-----------------+-------------+------+------+---------+-----------+--------+
|line_id|current_status|schedule_relationship|    shift_id|    speed|stop_id|facilities|municipalities_id|district_name|  name|prefix|region_id|region_name|    date|
+-------+--------------+---------------------+------------+---------+-------+----------+-----------------+-------------+------+------+---------+-----------+--------+
|   1721|    STOPPED_AT|            SCHEDULED|        2609|      0.0| 060055|        []|             1106|       Lisboa|Lisboa|    06|    PT170|        AML|20241123|
|   4701| IN_TRANSIT_TO|            SCHEDULED|123070000007|      0.0| 090018|        []|             1106|       Lisboa|Lisboa|    06|    PT170|        AML|20241123|
|   4701| IN_TRANSIT_TO|            SCHEDULED|123080000007|3.6111112| 060001|        []|             1106|       Lisboa|Lisboa|    06|    PT170|        AML|20241123|
|   3721| IN_TRANSIT_TO|            SCHEDULED|      ES3005|15.555555| 150215|        []|             1106|       Lisboa|Lisboa|    06|    PT170|        AML|20241123|
|   1718|   INCOMING_AT|            SCHEDULED|        2622| 8.055555| 030552|        []|             1106|       Lisboa|Lisboa|    06|    PT170|        AML|20241123|
|   3710| IN_TRANSIT_TO|            SCHEDULED|      ES2043| 8.333333| 061215|        []|             1106|       Lisboa|Lisboa|    06|    PT170|        AML|20241123|
|   2730|   INCOMING_AT|            SCHEDULED|        4009|      0.0| 071237|        []|             1106|       Lisboa|Lisboa|    06|    PT170|        AML|20241123|
|   2790|    STOPPED_AT|            SCHEDULED|        4018|      0.0| 182258|        []|             1106|       Lisboa|Lisboa|    06|    PT170|        AML|20241123|
|   1714|    STOPPED_AT|            SCHEDULED|        2027|      0.0| 030515|        []|             1106|       Lisboa|Lisboa|    06|    PT170|        AML|20241123|
|   2736| IN_TRANSIT_TO|            SCHEDULED|        4035|4.1666665| 060241|        []|             1106|       Lisboa|Lisboa|    06|    PT170|        AML|20241123|
|   4705| IN_TRANSIT_TO|            SCHEDULED|123090000007|      0.0| 060002|        []|             1106|       Lisboa|Lisboa|    06|    PT170|        AML|20241123|
|   2780| IN_TRANSIT_TO|            SCHEDULED|        4525|10.555555| 110285|        []|             1106|       Lisboa|Lisboa|    06|    PT170|        AML|20241123|
|   2727| IN_TRANSIT_TO|            SCHEDULED|        4054|15.833333| 070119|        []|             1106|       Lisboa|Lisboa|    06|    PT170|        AML|20241123|
|   1716|    STOPPED_AT|            SCHEDULED|        2608|      0.0| 172495|        []|             1106|       Lisboa|Lisboa|    06|    PT170|        AML|20241123|
|   2725| IN_TRANSIT_TO|            SCHEDULED|        4050|      0.0| 070369|        []|             1106|       Lisboa|Lisboa|    06|    PT170|        AML|20241123|
|   2702|    STOPPED_AT|            SCHEDULED|        4535|2.2222223| 060155|        []|             1106|       Lisboa|Lisboa|    06|    PT170|        AML|20241123|
|   2769| IN_TRANSIT_TO|            SCHEDULED|        4812| 8.888889| 070563|        []|             1106|       Lisboa|Lisboa|    06|    PT170|        AML|20241123|
|   2730| IN_TRANSIT_TO|            SCHEDULED|        4002|      0.0| 070515|        []|             1106|       Lisboa|Lisboa|    06|    PT170|        AML|20241123|
|   2734| IN_TRANSIT_TO|            SCHEDULED|        4059|11.111111| 070125|        []|             1106|       Lisboa|Lisboa|    06|    PT170|        AML|20241123|
|   2772|    STOPPED_AT|            SCHEDULED|        4809|      0.0| 070328|        []|             1106|       Lisboa|Lisboa|    06|    PT170|        AML|20241123|
+-------+--------------+---------------------+------------+---------+-------+----------+-----------------+-------------+------+------+---------+-----------+--------+
only showing top 20 rows

In [33]:
data = vehicles_enriched.select("line_id", "name","speed").dropDuplicates()

In [34]:
data = vehicles_enriched.groupBy("name").agg(
      count_distinct("line_id").alias("count_line_ids")
    , round(sum("speed"),2).alias("sum_speed")
)

What are the top 3 municipalities by vehicles routes?

**Sintra, Lisboa e Almada**

In [38]:
data.sort(data.count_line_ids.desc()).limit(3).select("name").show()

+------+
|  name|
+------+
|Sintra|
|Lisboa|
|Almada|
+------+

What are the top 3 municipalities with higher speed on average?

**Moita, Barreiro e Montijo**

In [39]:
data.withColumn(
    "average_speed",
    round((col("sum_speed") / col("count_line_ids")),2)
).orderBy(
    col("average_speed").desc()
).limit(3).select("name").show()

+--------+
|    name|
+--------+
|   Moita|
|Barreiro|
| Montijo|
+--------+