<a href="https://colab.research.google.com/github/carsofferrei/04_data_processing/blob/main/spark/challenges/challenge_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CHALLENGE 1
##  Implement INGESTION process
- Set up path in the "lake"
  - !mkdir -p /content/lake/bronze

- Read data from API https://api.carrismetropolitana.pt/
  - Endpoints:
    - vehicles
    - lines
    - municipalities
  - Use StructFields to enforce schema

- Transformations
  - vehicles
    - create "date" extracted from "timestamp" column (format: hh24miss)

- Write data as PARQUET into the BRONZE layer (/content/lake/bronze)
  - Partition "vehicles" by "date" column
  - Paths:
    - vehicles - path: /content/lake/bronze/vehicles
    - lines - path: /content/lake/bronze/lines
    - municipalities - path: /content/lake/bronze/municipalities
  - Make sure there is only 1 single parquet created
  - Use overwrite as write mode

# Setting up PySpark

In [1]:
%pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [2]:
# Import SparkSession

from pyspark.sql import SparkSession
spark = SparkSession.builder.master('local').appName('Carla_Ferreira_API_challenge').config('spark.ui.port', '4050').getOrCreate()
sc = spark.sparkContext

In [3]:
import requests
from pyspark.sql.types import *

def readFromAPI(url: str, schema: StructType = None):
  response = requests.get(url)
  rdd = sc.parallelize(response.json())

  if schema:
    df = spark.read.schema(schema).json(rdd)
  else:
    df = spark.read.json(rdd)
  return df

In [4]:
#Schemas
vehicle_schema = StructType([StructField('bearing', IntegerType(), True),
                             StructField('block_id', StringType(), True),
                             StructField('current_status', StringType(), True),
                             StructField('id', StringType(), True),
                             StructField('lat', FloatType(), True),
                             StructField('line_id', StringType(), True),
                             StructField('lon', FloatType(), True),
                             StructField('pattern_id', StringType(), True),
                             StructField('route_id', StringType(), True),
                             StructField('schedule_relationship', StringType(), True),
                             StructField('shift_id', StringType(), True),
                             StructField('speed', FloatType(), True),
                             StructField('stop_id', StringType(), True),
                             StructField('timestamp', TimestampType(), True),
                             StructField('trip_id', StringType(), True)
                             ])


lines_schema = StructType([StructField('_corrupt_record', StringType(), True),
                           StructField('color', StringType(), True),
                           StructField('facilities', StringType(), True),
                           StructField('id', StringType(), True),
                           StructField('localities', ArrayType(StringType()), True),
                           StructField('long_name', StringType(), True),
                           StructField('municipalities', ArrayType(StringType()), True),
                           StructField('patterns', ArrayType(StringType()), True),
                           StructField('routes', StringType(), True),
                           StructField('short_name', StringType(), True),
                           StructField('text_color', StringType(), True)
                           ])

municipalities_schema = StructType([StructField('district_id', StringType(), True),
                                    StructField('district_name', StringType(), True),
                                    StructField('id', StringType(), True),
                                    StructField('name', StringType(), True),
                                    StructField('prefix', StringType(), True),
                                    StructField('region_id', StringType(), True),
                                    StructField('region_name', StringType(), True)
                                    ])

In [5]:
vehicles = readFromAPI("https://api.carrismetropolitana.pt/vehicles", schema = vehicle_schema)
lines = readFromAPI("https://api.carrismetropolitana.pt/lines", schema = lines_schema)
municipalities = readFromAPI("https://api.carrismetropolitana.pt/municipalities", schema = municipalities_schema)

In [43]:
# create "date" extracted from "timestamp" column (format: hh24miss) -- this format doesnt make sense, the correct is yyyyMMdd
from pyspark.sql.functions import date_format
vehicles = vehicles.withColumn("date", date_format('timestamp', "yyyyMMdd"))

vehicles.show()

+-------+--------------------+--------------+--------+---------+-------+---------+----------+--------+---------------------+------------+---------+-------+-------------------+--------------------+--------+
|bearing|            block_id|current_status|      id| latitude|line_id|longitude|pattern_id|route_id|schedule_relationship|    shift_id|    speed|stop_id|          timestamp|             trip_id|    date|
+-------+--------------------+--------------+--------+---------+-------+---------+----------+--------+---------------------+------------+---------+-------+-------------------+--------------------+--------+
|    171|                1272|   INCOMING_AT| 42|1272| 38.90075|   2504|-9.218324|  2504_0_2|  2504_0|            SCHEDULED|       44107|15.833333| 071100|2024-11-22 19:54:27|2504_0_2|150|1|19...|20241122|
|    296|20241122-64010028...| IN_TRANSIT_TO|44|12749| 38.74897|   4702|-8.934695|  4702_0_1|  4702_0|            SCHEDULED|123200234560|14.166667| 010136|2024-11-22 19:54:27|4702_0_1|2200|192...|20241122|
|    256|       ESC_DU_EU1031| IN_TRANSIT_TO| 43|2349|38.626526|   3103|-9.082764|  3103_0_2|  3103_0|            SCHEDULED|      EU1154| 6.388889| 140331|2024-11-22 19:54:27|3103_0_2_1930_195...|20241122|
|     89|20241122-64010218...| IN_TRANSIT_TO|44|12699| 38.76856|   4707| -9.10204|  4707_0_2|  4707_0|            SCHEDULED|123560234560|      0.0| 060002|2024-11-22 19:54:27|4707_0_2|2200|190...|20241122|
|    264|20241122-64010257...| IN_TRANSIT_TO|44|12562|38.517757|   4641|-8.971889|  4641_0_2|  4641_0|            SCHEDULED|111660234560|13.611111| 160556|2024-11-22 19:54:27|4641_0_2|2200|194...|20241122|
|    353|           1_1731-11| IN_TRANSIT_TO| 41|1239|38.802708|   1241|-9.381684|  1241_0_2|  1241_0|            SCHEDULED|        1796|3.0555556| 171382|2024-11-22 19:54:27|1241_0_2_1930_195...|20241122|
|    287|UNAVAILABLE_BLOCK_ID|   INCOMING_AT| 41|1384| 38.78275|   1204|-9.314581|  1204_1_3|  1204_1|            SCHEDULED|        1243|10.555555| 170174|2024-11-22 19:54:27|1204_C_1_3_1930_1...|20241122|
|    115|           1_1634-11| IN_TRANSIT_TO| 41|1385| 38.73145|   1601|-9.291839|  1601_1_2|  1601_1|            SCHEDULED|   1651'_001|10.833333| 120576|2024-11-22 19:54:27|1601_1_2_1900_192...|20241122|
|     54|             1750-11| IN_TRANSIT_TO| 42|2508|38.902145|   2535|-9.039565|  2535_0_1|  2535_0|            SCHEDULED|        1750|3.8888888| 180245|2024-11-22 19:54:27|2535_0_1|1|1|1915...|20241122|
|     77|UNAVAILABLE_BLOCK_ID|   INCOMING_AT| 41|1227|38.750687|   1209|-9.350565|  1209_1_1|  1209_1|            SCHEDULED|        1359|7.7777777| 170403|2024-11-22 19:54:27|1209_1_1_1930_195...|20241122|
|    124|             1575-11| IN_TRANSIT_TO| 42|2613|38.785603|   2812|-9.169343|  2812_0_1|  2812_0|            SCHEDULED|        1645|     10.0| 060166|2024-11-22 19:54:27|2812_0_1|1|1|1915...|20241122|
|     60|             1562-11|   INCOMING_AT|  42|268|38.786163|   2209|-9.183395|  2209_0_1|  2209_0|            SCHEDULED|        1571|5.5555553| 110087|2024-11-22 19:54:27|2209_0_1|1|1|1920...|20241122|
|    112|20241122-64010164...| IN_TRANSIT_TO|44|12660|38.723507|   4710|-8.970055|  4710_0_1|  4710_0|            SCHEDULED|113190234560|18.055555| 130451|2024-11-22 19:54:27|4710_0_1|2200|193...|20241122|
|    135|                1270| IN_TRANSIT_TO| 42|1270| 38.83715|   2505|-9.187864|  2505_0_2|  2505_0|            SCHEDULED|      400457|11.666667| 070024|2024-11-22 19:54:27|2505_0_2|150|1|19...|20241122|
|      0|       ESC_DU_EU2045|    STOPPED_AT| 43|2283| 38.67364|   3703|-9.161451|  3703_0_2|  3703_0|            SCHEDULED|      EU2175|      0.0| 020081|2024-11-22 19:54:27|3703_0_2_1900_192...|20241122|
|    336|           1_1093-11|   INCOMING_AT| 41|1163|  38.7786|   1719| -9.23556|  1719_0_1|  1719_0|            SCHEDULED|   1093'_001| 9.722222| 030625|2024-11-22 19:54:27|1719_0_1_1930_195...|20241122|
|    268|20241122-64010272...| IN_TRANSIT_TO|44|12641|38.532494|   4432|-9.003155|  4432_0_1|  4432_0|            SCHEDULED|111510234560|10.833333| 160568|2024-11-22 19:54:27|4432_0_1|2200|193...|20241122|
|    232|UNAVAILABLE_BLOCK_ID| IN_TRANSIT_TO| 43|2301| 38.65469|   3017|-9.178814|  3017_0_2|  3017_0|            SCHEDULED|      EU2193| 9.444445| 020598|2024-11-22 19:54:27|3017_0_2_1930_195...|20241122|
|      7|           1_1323-11| IN_TRANSIT_TO| 41|1406|  38.7861|   1615|-9.329978|  1615_1_1|  1615_1|            SCHEDULED|        1340| 9.166667| 170065|2024-11-22 19:54:27|1615_1_1_1830_185...|20241122|
|     75|             1541-11|   INCOMING_AT| 42|2610|38.791817|   2212|-9.174267|  2212_0_3|  2212_0|            SCHEDULED|        1599|      7.5| 110403|2024-11-22 19:54:27|2212_0_3|1|1|1940...|20241122|
+-------+--------------------+--------------+--------+---------+-------+---------+----------+--------+---------------------+------------+---------+-------+-------------------+--------------------+--------+
only showing top 20 rows

In [44]:
from pyspark.sql import functions as F

vehicles.select("date").distinct().agg(F.min("date").alias("min_date")).show()
vehicles.select("date").distinct().agg(F.max("date").alias("max_date")).show()

# there's only one day in this file.

+--------+
|min_date|
+--------+
|20241122|
+--------+

+--------+
|max_date|
+--------+
|20241122|
+--------+

Write data as PARQUET into the BRONZE layer (/content/lake/bronze)

*   Partition "vehicles" by "date" column
*   Paths: /content/lake/bronze/vehicles, /content/lake/bronze/lines
, /content/lake/bronze/municipalities

Make sure there is only 1 single parquet created /
Use overwrite as write mode

Declare the directory to write the data that came from API carrismetropolitana

In [45]:
!mkdir -p /content/lake/bronze

path_vehicles = "/content/lake/bronze/vehicles"
path_lines = "/content/lake/bronze/lines"
path_municipalities = "/content/lake/bronze/municipalities"

In [47]:
(vehicles
.coalesce(1)
.write
.mode("overwrite")
.partitionBy("date")
.format("parquet")
.save(path_vehicles)
)


(lines
.write
.mode("overwrite")
.format("parquet")
.save(path_lines)
)


(municipalities
.write
.mode("overwrite")
.format("parquet")
.save(path_municipalities)
)

# CHALLENGE 2
##  Implement CLEANSING process
- Set up path in the "lake"
  - !mkdir -p /content/lake/silver

- Read data from BRONZE layer as PARQUET:
    - vehicles - path: /content/lake/bronze/vehicles
    - lines - path: /content/lake/bronze/lines
    - municipalities - path: /content/lake/bronze/municipalities

- Transformations
  - vehicles
    - rename "lat" and "lon" to "latitude" and "longitude" respectively
    - remove possible duplicates
    - remove rows when the column CURRENT_STATUS is null
    - remove any corrupted record
  - lines
    - remove duplicates
    - remove rows when the column LONG_NAME is null
    - remove any corrupted record
  - municipalities
    - remove duplicates
    - remove rows when the columns NAME or DISTRICT_NAME are null
    - remove any corrupted record

- Write data as PARQUET into the SILVER layer (/content/lake/silver)
  - Partition "vehicles" by "date"(created in the ingestion)
  - Paths:
    - vehicles - path: /content/lake/silver/vehicles
    - lines - path: /content/lake/silver/lines
    - municipalities - path: /content/lake/silver/municipalities

In [48]:
vehicles = spark.read.parquet("/content/lake/bronze/vehicles", schema = vehicle_schema)

In [49]:
lines = spark.read.parquet("/content/lake/bronze/lines", schema = lines_schema)

In [50]:
municipalities = spark.read.parquet("/content/lake/bronze/municipalities", schema = municipalities_schema)

In [51]:
from pyspark.sql.functions import *

# Vehicles
# rename "lat" and "lon" to "latitude" and "longitude" respectively
vehicles = vehicles.withColumnRenamed("lat", "latitude").withColumnRenamed("lon", "longitude")

# remove possible duplicates
vehicles = vehicles.drop_duplicates()
# remove rows when the column CURRENT_STATUS is null
vehicles = vehicles.filter(vehicles["current_status"].isNotNull())
# remove any corrupted record (????)

In [52]:
from pyspark.sql.functions import *

# Lines
# remove duplicates
lines = lines.drop_duplicates()
# remove rows when the column LONG_NAME is null
lines = lines.filter(lines["long_name"].isNotNull())
# remove any corrupted record
lines = lines.filter(lines["_corrupt_record"].isNull())

In [53]:
# Municipalities
# remove duplicates
municipalities = municipalities.drop_duplicates()
# remove rows when the columns NAME or DISTRICT_NAME are null
municipalities = municipalities.filter(municipalities["name"].isNotNull() & municipalities["district_name"].isNotNull())
# remove any corrupted record (???)

In [54]:
!mkdir -p /content/lake/silver

In [55]:
path_vehicles = "/content/lake/silver/vehicles"
path_lines = "/content/lake/silver/lines"
path_municipalities = "/content/lake/silver/municipalities"

In [56]:
(vehicles
.coalesce(1)
.write
.mode("overwrite")
.partitionBy("date")
.format("parquet")
.save(path_vehicles)
)


(lines
.write
.mode("overwrite")
.format("parquet")
.save(path_lines)
)


(municipalities
.write
.mode("overwrite")
.format("parquet")
.save(path_municipalities)
)

# CHALLENGE 3
##  Implement ENRICH process
- Set up path in the "lake"
  - !mkdir -p /content/lake/gold

- Read data from SILVER layer
  - Paths:
    - vehicles - path: /content/lake/silver/vehicles
    - lines - path: /content/lake/silver/lines
    - municipalities - path: /content/lake/silver/municipalities
  - Use StructFields to enforce schema

- Enrichment
  - Enrich vehicles dataset with information from the line and municipalities
    - join vehicles with lines and municipalities
      - select all columns from vehicles + lines.long_name (name: line_name, format:string) + municipalities.name (name: municipality_name, format: array)
      - Note that "municipalities.name" is an array

- Write data as PARQUET into the GOLD layer (/content/lake/gold)
  - Dataset name: vehicles_enriched
  - Partition "vehicles_enriched" by "date" column
  - Paths:
    - vehicles - path: /content/lake/gold/vehicles_enriched
  - Make sure there is only 1 single parquet created
  - Use overwrite as write mode

In [57]:
vehicles = spark.read.parquet("/content/lake/silver/vehicles", schema = vehicle_schema)

In [58]:
lines = spark.read.parquet("/content/lake/silver/lines", schema = lines_schema)

In [59]:
municipalities = spark.read.parquet("/content/lake/silver/municipalities", schema = municipalities_schema)

In [86]:
# Extract info from the array in municiples
from pyspark.sql.functions import explode
lines_treated = lines.select(
    "facilities","id",explode(lines.municipalities).alias("municipalities_id")
).drop_duplicates()

In [88]:
vehicles_lines = vehicles.join(lines_treated, vehicles['line_id'] == lines_treated['id'], how = 'left')
vehicles_enriched = vehicles_lines.join(municipalities, lines_treated['municipalities_id'] == municipalities['id'], how = 'left')
vehicles_enriched.dropDuplicates().show()

+-------+--------------------+--------------+--------+---------+-------+---------+----------+--------+---------------------+------------+---------+-------+-------------------+--------------------+--------+----------+----+-----------------+-----------+-------------+----+--------+------+---------+-----------+
|bearing|            block_id|current_status|      id| latitude|line_id|longitude|pattern_id|route_id|schedule_relationship|    shift_id|    speed|stop_id|          timestamp|             trip_id|    date|facilities|  id|municipalities_id|district_id|district_name|  id|    name|prefix|region_id|region_name|
+-------+--------------------+--------------+--------+---------+-------+---------+----------+--------+---------------------+------------+---------+-------+-------------------+--------------------+--------+----------+----+-----------------+-----------+-------------+----+--------+------+---------+-----------+
|    237|             1708-11| IN_TRANSIT_TO| 42|2503| 38.82681|   2761|-9.169701|  2761_0_1|  2761_0|            SCHEDULED|        1779| 9.444445| 070474|2024-11-22 19:54:12|2761_0_1|1|1|1850...|20241122|        []|2761|             1109|         11|       Lisboa|1109|   Mafra|    08|    PT170|        AML|
|      0|       ESC_DU_EU1089|    STOPPED_AT| 43|2331| 38.62403|   3512|-9.126995|  3512_0_1|  3512_0|            SCHEDULED|      EU1145|0.2777778| 140307|2024-11-22 19:54:13|3512_0_1_1900_192...|20241122|        []|3512|             1510|         15|      Setúbal|1510|  Seixal|    14|    PT170|        AML|
|    146|20241122-64010031...| IN_TRANSIT_TO|44|12704|38.700665|   4707|-8.952131|  4707_0_1|  4707_0|            SCHEDULED|123170234560|      5.0| 100407|2024-11-22 19:54:25|4707_0_1|2200|191...|20241122|        []|4707|             1507|         15|      Setúbal|1507| Montijo|    10|    PT170|        AML|
|     58|           1_1462-11| IN_TRANSIT_TO| 41|1142|38.720387|   1726| -9.26551|  1726_1_2|  1726_1|            SCHEDULED|        1484| 8.055555| 120309|2024-11-22 19:54:31|1726_1_2_1930_195...|20241122|        []|1726|             1110|         11|       Lisboa|1110|  Oeiras|    12|    PT170|        AML|
|    327|                1050|   INCOMING_AT| 42|1050| 38.88908|   2752|-9.205966|  2752_0_1|  2752_0|            SCHEDULED|        4440|      0.0| 071091|2024-11-22 19:54:17|2752_0_1|150|1|18...|20241122|        []|2752|             1109|         11|       Lisboa|1109|   Mafra|    08|    PT170|        AML|
|    271|           1_1433-11|    STOPPED_AT| 41|1299| 38.72258|   1616|-9.307747|  1616_0_1|  1616_0|            SCHEDULED|1493+RG+1926|      0.0| 120925|2024-11-22 19:54:28|1616_0_1_1930_195...|20241122|        []|1616|             1110|         11|       Lisboa|1110|  Oeiras|    12|    PT170|        AML|
|    339|       ESC_DU_EU2025| IN_TRANSIT_TO| 43|2124|38.712116|   3701|-9.174863|  3701_0_2|  3701_0|            SCHEDULED|      EU2233|      0.0| 020001|2024-11-22 19:54:21|3701_0_2_1900_192...|20241122|        []|3701|             1110|         11|       Lisboa|1110|  Oeiras|    12|    PT170|        AML|
|    247|       ESC_DU_EU2034| IN_TRANSIT_TO| 43|2264| 38.66074|   3011|-9.189981|  3011_0_1|  3011_0|            SCHEDULED|      EU2152|14.722222| 020357|2024-11-22 19:54:23|3011_0_1_1930_195...|20241122|        []|3011|             1503|         15|      Setúbal|1503|  Almada|    02|    PT170|        AML|
|    125|           1_1017-11| IN_TRANSIT_TO| 41|1865| 38.75916|   1720|-9.237508|  1720_0_1|  1720_0|            SCHEDULED|        1121|1.9444444| 030477|2024-11-22 19:53:48|1720_0_1_1900_192...|20241122|        []|1720|             1111|         11|       Lisboa|1111|  Sintra|    17|    PT170|        AML|
|    142|             1557-11| IN_TRANSIT_TO| 42|2205|38.828274|   2601|-9.164583|  2601_0_1|  2601_0|            SCHEDULED|        1615|      0.0| 070043|2024-11-22 19:54:05|2601_0_1|1|1|1940...|20241122|        []|2601|             1116|         11|       Lisboa|1116|Odivelas|    11|    PT170|        AML|
|    175|       ESC_DU_EU3043| IN_TRANSIT_TO|  43|639|38.569275|   3549|-9.038012|  3549_0_2|  3549_0|            SCHEDULED|      EU3044|      0.0| 150529|2024-11-22 19:54:13|3549_0_2_1830_185...|20241122|        []|3549|             1510|         15|      Setúbal|1510|  Seixal|    14|    PT170|        AML|
|    281|           1_1074-11| IN_TRANSIT_TO| 41|1164|  38.7605|   1720|-9.242901|  1720_0_2|  1720_0|            SCHEDULED|        1129| 8.611111| 030325|2024-11-22 19:54:33|1720_0_2_1900_192...|20241122|        []|1720|             1111|         11|       Lisboa|1111|  Sintra|    17|    PT170|        AML|
|      0|                1218|    STOPPED_AT| 42|1218|38.841038|   2753| -9.19487|  2753_0_1|  2753_0|            SCHEDULED|       46235|      0.0| 070353|2024-11-22 19:54:26|2753_0_1|150|1|18...|20241122|        []|2753|             1109|         11|       Lisboa|1109|   Mafra|    08|    PT170|        AML|
|    115|           1_1634-11| IN_TRANSIT_TO| 41|1385| 38.73145|   1601|-9.291839|  1601_1_2|  1601_1|            SCHEDULED|   1651'_001|10.833333| 120576|2024-11-22 19:54:27|1601_1_2_1900_192...|20241122|        []|1601|             1111|         11|       Lisboa|1111|  Sintra|    17|    PT170|        AML|
|    230|20241122-64010217...| IN_TRANSIT_TO|44|12089|38.529472|   4430|-8.881708|  4430_0_1|  4430_0|            SCHEDULED|112330234560|      0.0| 160029|2024-11-22 19:54:24|4430_0_1|2200|200...|20241122|        []|4430|             1512|         15|      Setúbal|1512| Setúbal|    16|    PT170|        AML|
|    288|UNAVAILABLE_BLOCK_ID|   INCOMING_AT| 41|1390|38.838314|   1247|-9.460984|  1247_0_2|  1247_0|            SCHEDULED|        1758|10.277778| 171447|2024-11-22 19:54:23|1247_0_2_1900_192...|20241122|        []|1247|             1111|         11|       Lisboa|1111|  Sintra|    17|    PT170|        AML|
|    153|             1052-11|    STOPPED_AT| 42|2352| 38.78355|   2736|-9.142688|  2736_0_3|  2736_0|            SCHEDULED|        1233|      0.0| 060234|2024-11-22 19:54:26|2736_0_3|1|1|1850...|20241122|        []|2736|             1107|         11|       Lisboa|1107|  Loures|    07|    PT170|        AML|
|    220|           1_1649-11|   INCOMING_AT| 41|1338|38.703327|   1601|-9.306893|  1601_0_1|  1601_0|            SCHEDULED|        1676| 8.333333| 120863|2024-11-22 19:54:15|1601_0_1_1830_185...|20241122|        []|1601|             1115|         11|       Lisboa|1115| Amadora|    03|    PT170|        AML|
|    222|       ESC_DU_EU1079|   INCOMING_AT| 43|2333|38.631367|   3514|-9.162066|  3514_0_2|  3514_0|            SCHEDULED|      EU1119| 9.444445| 140374|2024-11-22 19:54:25|3514_0_2_1930_195...|20241122|        []|3514|             1510|         15|      Setúbal|1510|  Seixal|    14|    PT170|        AML|
|     58|       ESC_DU_EU2024| IN_TRANSIT_TO| 43|2271|38.525463|   3605| -8.99122|  3605_0_1|  3605_0|            SCHEDULED|      EU2169|18.055555| 160604|2024-11-22 19:54:19|3605_0_1_1830_185...|20241122|        []|3605|             1504|         15|      Setúbal|1504|Barreiro|    04|    PT170|        AML|
+-------+--------------------+--------------+--------+---------+-------+---------+----------+--------+---------------------+------------+---------+-------+-------------------+--------------------+--------+----------+----+-----------------+-----------+-------------+----+--------+------+---------+-----------+
only showing top 20 rows

In [90]:
vehicles_enriched.select(
      "line_id"
    , "current_status"
    , "schedule_relationship"
    , "shift_id"
    , "speed"
    , "stop_id"
    , "date"
    , "facilities"
    , "municipalities_id"
    , "district_name"
    , "name"
    , "prefix"
    , "region_id"
    , "region_name"
).drop_duplicates().show()

+-------+--------------+---------------------+------------+---------+-------+--------+----------+-----------------+-------------+--------+------+---------+-----------+
|line_id|current_status|schedule_relationship|    shift_id|    speed|stop_id|    date|facilities|municipalities_id|district_name|    name|prefix|region_id|region_name|
+-------+--------------+---------------------+------------+---------+-------+--------+----------+-----------------+-------------+--------+------+---------+-----------+
|   4521| IN_TRANSIT_TO|            SCHEDULED|121530234560|13.333333| 130195|20241122|        []|             1508|      Setúbal| Palmela|    13|    PT170|        AML|
|   3605| IN_TRANSIT_TO|            SCHEDULED|      EU2199|11.388889| 140029|20241122|        []|             1511|      Setúbal|Sesimbra|    15|    PT170|        AML|
|   3601|   INCOMING_AT|            SCHEDULED|      EU3078|      0.0| 020072|20241122|        []|             1510|      Setúbal|  Seixal|    14|    PT170|        AML|
|   4707| IN_TRANSIT_TO|            SCHEDULED|123560234560|      0.0| 060002|20241122|        []|             1106|       Lisboa|  Lisboa|    06|    PT170|        AML|
|   2730| IN_TRANSIT_TO|            SCHEDULED|        1231|      0.0| 070515|20241122|        []|             1107|       Lisboa|  Loures|    07|    PT170|        AML|
|   1517| IN_TRANSIT_TO|            SCHEDULED|        1100| 9.166667| 030107|20241122|        []|             1115|       Lisboa| Amadora|    03|    PT170|        AML|
|   1531|    STOPPED_AT|            SCHEDULED|        1460|6.6666665| 120710|20241122|        []|             1111|       Lisboa|  Sintra|    17|    PT170|        AML|
|   2769| IN_TRANSIT_TO|            SCHEDULED|        1844| 6.388889| 110621|20241122|        []|             1106|       Lisboa|  Lisboa|    06|    PT170|        AML|
|   4412| IN_TRANSIT_TO|            SCHEDULED|112580234560|3.6111112| 160305|20241122|        []|             1512|      Setúbal| Setúbal|    16|    PT170|        AML|
|   1720| IN_TRANSIT_TO|            SCHEDULED|        1121|1.9444444| 030477|20241122|        []|             1115|       Lisboa| Amadora|    03|    PT170|        AML|
|   2769|    STOPPED_AT|            SCHEDULED|        1841|      0.0| 061200|20241122|        []|             1116|       Lisboa|Odivelas|    11|    PT170|        AML|
|   1631| IN_TRANSIT_TO|            SCHEDULED|        1745|14.166667| 170067|20241122|        []|             1105|       Lisboa| Cascais|    05|    PT170|        AML|
|   2803| IN_TRANSIT_TO|            SCHEDULED|       47126|     12.5| 080813|20241122|        []|             1106|       Lisboa|  Lisboa|    06|    PT170|        AML|
|   1704| IN_TRANSIT_TO|            SCHEDULED|        1096| 9.444445| 030558|20241122|        []|             1106|       Lisboa|  Lisboa|    06|    PT170|        AML|
|   2532|    STOPPED_AT|            SCHEDULED|        1166|      0.0| 180498|20241122|        []|             1107|       Lisboa|  Loures|    07|    PT170|        AML|
|   2626|   INCOMING_AT|            SCHEDULED|      400481|11.944445| 080345|20241122|        []|             1111|       Lisboa|  Sintra|    17|    PT170|        AML|
|   1710| IN_TRANSIT_TO|            SCHEDULED|        1116|3.8888888| 110055|20241122|        []|             1106|       Lisboa|  Lisboa|    06|    PT170|        AML|
|   1720| IN_TRANSIT_TO|            SCHEDULED|        1129| 8.611111| 030325|20241122|        []|             1106|       Lisboa|  Lisboa|    06|    PT170|        AML|
|   1717|    STOPPED_AT|            SCHEDULED|        1664|      0.0| 175188|20241122|        []|             1111|       Lisboa|  Sintra|    17|    PT170|        AML|
|   3703| IN_TRANSIT_TO|            SCHEDULED|      EU2117|13.888889| 060395|20241122|        []|             1503|      Setúbal|  Almada|    02|    PT170|        AML|
+-------+--------------+---------------------+------------+---------+-------+--------+----------+-----------------+-------------+--------+------+---------+-----------+
only showing top 20 rows

In [ ]:
!mkdir -p /content/lake/gold