<a href="https://colab.research.google.com/github/carsofferrei/04_data_processing/blob/main/spark/challenges/challenge_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CHALLENGE 1
##  Implement INGESTION process
- Set up path in the "lake"
  - !mkdir -p /content/lake/bronze

- Read data from API https://api.carrismetropolitana.pt/
  - Endpoints:
    - vehicles
    - lines
    - municipalities
  - Use StructFields to enforce schema

- Transformations
  - vehicles
    - create "date" extracted from "timestamp" column (format: hh24miss)

- Write data as PARQUET into the BRONZE layer (/content/lake/bronze)
  - Partition "vehicles" by "date" column
  - Paths:
    - vehicles - path: /content/lake/bronze/vehicles
    - lines - path: /content/lake/bronze/lines
    - municipalities - path: /content/lake/bronze/municipalities
  - Make sure there is only 1 single parquet created
  - Use overwrite as write mode

# Setting up PySpark

In [109]:
%pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [110]:
# Import SparkSession

from pyspark.sql import SparkSession
spark = SparkSession.builder.master('local').appName('Carla_Ferreira_API_challenge').config('spark.ui.port', '4050').getOrCreate()
sc = spark.sparkContext

In [111]:
import requests
from pyspark.sql.types import *

def readFromAPI(url: str, schema: StructType = None):
  response = requests.get(url)
  rdd = sc.parallelize(response.json())

  if schema:
    df = spark.read.schema(schema).json(rdd)
  else:
    df = spark.read.json(rdd)
  return df

In [112]:
#Schemas
vehicle_schema = StructType([StructField('bearing', IntegerType(), True),
                             StructField('block_id', StringType(), True),
                             StructField('current_status', StringType(), True),
                             StructField('id', StringType(), True),
                             StructField('lat', FloatType(), True),
                             StructField('line_id', StringType(), True),
                             StructField('lon', FloatType(), True),
                             StructField('pattern_id', StringType(), True),
                             StructField('route_id', StringType(), True),
                             StructField('schedule_relationship', StringType(), True),
                             StructField('shift_id', StringType(), True),
                             StructField('speed', FloatType(), True),
                             StructField('stop_id', StringType(), True),
                             StructField('timestamp', TimestampType(), True),
                             StructField('trip_id', StringType(), True)
                             ])


lines_schema = StructType([StructField('_corrupt_record', StringType(), True),
                           StructField('color', StringType(), True),
                           StructField('facilities', StringType(), True),
                           StructField('id', StringType(), True),
                           StructField('localities', ArrayType(StringType()), True),
                           StructField('long_name', StringType(), True),
                           StructField('municipalities', ArrayType(StringType()), True),
                           StructField('patterns', ArrayType(StringType()), True),
                           StructField('routes', StringType(), True),
                           StructField('short_name', StringType(), True),
                           StructField('text_color', StringType(), True)
                           ])

municipalities_schema = StructType([StructField('district_id', StringType(), True),
                                    StructField('district_name', StringType(), True),
                                    StructField('id', StringType(), True),
                                    StructField('name', StringType(), True),
                                    StructField('prefix', StringType(), True),
                                    StructField('region_id', StringType(), True),
                                    StructField('region_name', StringType(), True)
                                    ])

In [113]:
vehicles = readFromAPI("https://api.carrismetropolitana.pt/vehicles", schema = vehicle_schema)
lines = readFromAPI("https://api.carrismetropolitana.pt/lines", schema = lines_schema)
municipalities = readFromAPI("https://api.carrismetropolitana.pt/municipalities", schema = municipalities_schema)

In [114]:
# create "date" extracted from "timestamp" column (format: hh24miss) -- this format doesnt make sense, the correct is yyyyMMdd
from pyspark.sql.functions import date_format
vehicles = vehicles.withColumn("date", date_format('timestamp', "yyyyMMdd"))

vehicles.show()

+-------+--------------------+--------------+--------+---------+-------+----------+----------+--------+---------------------+------------+---------+-------+-------------------+--------------------+--------+
|bearing|            block_id|current_status|      id|      lat|line_id|       lon|pattern_id|route_id|schedule_relationship|    shift_id|    speed|stop_id|          timestamp|             trip_id|    date|
+-------+--------------------+--------------+--------+---------+-------+----------+----------+--------+---------------------+------------+---------+-------+-------------------+--------------------+--------+
|      6|20241122-64010200...| IN_TRANSIT_TO|44|12085| 38.52425|   4438| -8.894265|  4438_1_2|  4438_1|            SCHEDULED|112500234560|4.4444447| 160105|2024-11-22 20:33:48|4438_1_2|2200|203...|20241122|
|    321|20241122-64010002...|    STOPPED_AT|44|12669|38.699623|   4705| -8.957223|  4705_0_1|  4705_0|            SCHEDULED|123460234560|      0.0| 100006|2024-11-22 20:33:45|4705_0_1|2200|200...|20241122|
|    166|20241122-64010183...| IN_TRANSIT_TO|44|12746|38.536247|   4482| -8.880228|  4482_0_3|  4482_0|            SCHEDULED|112640234560|6.9444447| 160189|2024-11-22 20:33:34|4482_0_3|2200|200...|20241122|
|     77|20241122-64010050...| IN_TRANSIT_TO|44|12502|38.649612|   4600| -8.991663|  4600_0_2|  4600_0|            SCHEDULED|121930234560|      0.0| 090117|2024-11-22 20:33:34|4600_0_2|2200|200...|20241122|
|    229|20241122-64010572...| IN_TRANSIT_TO|44|12672| 38.70833|   4704|  -8.92361|  4704_0_2|  4704_0|            SCHEDULED|123380234560|      0.0| 100429|2024-11-22 20:33:36|4704_0_2|2200|195...|20241122|
|    330|20241122-64010057...| IN_TRANSIT_TO|44|12538|38.660603|   4517| -8.922756|  4517_0_2|  4517_0|            SCHEDULED|121860234560|17.222221| 100362|2024-11-22 20:33:42|4517_0_2|2200|200...|20241122|
|    223|20241122-64010153...| IN_TRANSIT_TO|44|13699| 38.53032|   4720|-8.8754635|  4720_0_1|  4720_0|            SCHEDULED|113280234560|4.4444447| 160027|2024-11-22 20:33:35|4720_0_1|2200|193...|20241122|
|     81|20241122-64010051...| IN_TRANSIT_TO|44|12535|38.708004|   4504| -8.904493|  4504_0_1|  4504_0|            SCHEDULED|121920234560|15.555555| 010122|2024-11-22 20:33:48|4504_0_1|2200|200...|20241122|
|     23|UNAVAILABLE_BLOCK_ID| IN_TRANSIT_TO| 42|2315|38.867992|   2790| -9.058672|  2790_0_1|  2790_0|            SCHEDULED|        1236|3.3333333| 180500|2024-11-22 20:33:14|2790_0_1|1|1|2015...|20241122|
|      0|UNAVAILABLE_BLOCK_ID|    STOPPED_AT| 42|2301|38.870975|   2537| -9.086558|  2537_0_1|  2537_0|            SCHEDULED|        1229|      0.0| 180471|2024-11-22 20:33:29|2537_0_1|1|1|2010...|20241122|
|    255|20241122-64010209...| IN_TRANSIT_TO|44|12098| 38.52463|   4409|  -8.91232|  4409_0_1|  4409_0|            SCHEDULED|112410234560|1.9444444| 160268|2024-11-22 20:33:46|4409_0_1|2200|200...|20241122|
|     93|20241122-64010090...| IN_TRANSIT_TO|44|12078| 38.69319|   4204| -8.938708|  4204_0_2|  4204_0|            SCHEDULED|121560230560|13.055555| 100147|2024-11-22 20:33:34|4204_0_2|2200|200...|20241122|
|    106|20241122-64010199...|   INCOMING_AT|44|12730|38.489304|   4425| -8.812299|  4425_0_1|  4425_0|            SCHEDULED|112510234560|16.944445| 160493|2024-11-22 20:33:47|4425_0_1|2200|200...|20241122|
|    277|20241122-64010167...| IN_TRANSIT_TO|44|12739| 38.53954|   4725| -8.887722|  4725_0_1|  4725_0|            SCHEDULED|113160234560|      0.0| 161001|2024-11-22 20:33:36|4725_0_1|2200|190...|20241122|
|    174|20241122-64010101...| IN_TRANSIT_TO|44|12515|38.754547|   4514| -8.623997|  4514_0_2|  4514_0|            SCHEDULED|121450234560| 9.722222| 100217|2024-11-22 20:33:44|4514_0_2|2200|191...|20241122|
|    277|20241122-64010197...| IN_TRANSIT_TO|44|12552|38.525856|   4436| -8.869523|  4436_0_2|  4436_0|            SCHEDULED|112530234560|      7.5| 160035|2024-11-22 20:33:45|4436_0_2|2200|203...|20241122|
|     86|20241122-64010104...|   INCOMING_AT|44|12606|38.710815|   4203| -8.949955|  4203_0_2|  4203_0|            SCHEDULED|121420234560|3.3333333| 100048|2024-11-22 20:33:37|4203_0_2|2200|200...|20241122|
|     69|20241122-64010069...| IN_TRANSIT_TO|44|12536|38.708157|   4203| -8.988803|  4203_0_2|  4203_0|            SCHEDULED|121740234560|4.7222223| 100089|2024-11-22 20:33:37|4203_0_2|2200|203...|20241122|
|     94|20241122-64010006...|   INCOMING_AT|44|12666|38.768547|   4704| -9.101238|  4704_0_1|  4704_0|            SCHEDULED|123550234560|2.7777777| 060002|2024-11-22 20:33:33|4704_0_1|2200|194...|20241122|
|    352|20241122-64010154...| IN_TRANSIT_TO|44|12747|38.770508|   4720| -9.104493|  4720_0_1|  4720_0|            SCHEDULED|113370234560| 9.444445| 160027|2024-11-22 20:33:34|4720_0_1|2200|203...|20241122|
+-------+--------------------+--------------+--------+---------+-------+----------+----------+--------+---------------------+------------+---------+-------+-------------------+--------------------+--------+
only showing top 20 rows

In [115]:
from pyspark.sql import functions as F

vehicles.select("date").distinct().agg(F.min("date").alias("min_date")).show()
vehicles.select("date").distinct().agg(F.max("date").alias("max_date")).show()

# there's only one day in this file.

+--------+
|min_date|
+--------+
|20241122|
+--------+

+--------+
|max_date|
+--------+
|20241122|
+--------+

Write data as PARQUET into the BRONZE layer (/content/lake/bronze)

*   Partition "vehicles" by "date" column
*   Paths: /content/lake/bronze/vehicles, /content/lake/bronze/lines
, /content/lake/bronze/municipalities

Make sure there is only 1 single parquet created /
Use overwrite as write mode

Declare the directory to write the data that came from API carrismetropolitana

In [116]:
!mkdir -p /content/lake/bronze

path_vehicles = "/content/lake/bronze/vehicles"
path_lines = "/content/lake/bronze/lines"
path_municipalities = "/content/lake/bronze/municipalities"

In [117]:
(vehicles
.coalesce(1)
.write
.mode("overwrite")
.partitionBy("date")
.format("parquet")
.save(path_vehicles)
)


(lines
.write
.mode("overwrite")
.format("parquet")
.save(path_lines)
)


(municipalities
.write
.mode("overwrite")
.format("parquet")
.save(path_municipalities)
)

# CHALLENGE 2
##  Implement CLEANSING process
- Set up path in the "lake"
  - !mkdir -p /content/lake/silver

- Read data from BRONZE layer as PARQUET:
    - vehicles - path: /content/lake/bronze/vehicles
    - lines - path: /content/lake/bronze/lines
    - municipalities - path: /content/lake/bronze/municipalities

- Transformations
  - vehicles
    - rename "lat" and "lon" to "latitude" and "longitude" respectively
    - remove possible duplicates
    - remove rows when the column CURRENT_STATUS is null
    - remove any corrupted record
  - lines
    - remove duplicates
    - remove rows when the column LONG_NAME is null
    - remove any corrupted record
  - municipalities
    - remove duplicates
    - remove rows when the columns NAME or DISTRICT_NAME are null
    - remove any corrupted record

- Write data as PARQUET into the SILVER layer (/content/lake/silver)
  - Partition "vehicles" by "date"(created in the ingestion)
  - Paths:
    - vehicles - path: /content/lake/silver/vehicles
    - lines - path: /content/lake/silver/lines
    - municipalities - path: /content/lake/silver/municipalities

In [118]:
vehicles = spark.read.parquet("/content/lake/bronze/vehicles", schema = vehicle_schema)

In [119]:
lines = spark.read.parquet("/content/lake/bronze/lines", schema = lines_schema)

In [120]:
municipalities = spark.read.parquet("/content/lake/bronze/municipalities", schema = municipalities_schema)

In [121]:
from pyspark.sql.functions import *

# Vehicles
# rename "lat" and "lon" to "latitude" and "longitude" respectively
vehicles = vehicles.withColumnRenamed("lat", "latitude").withColumnRenamed("lon", "longitude")

# remove possible duplicates
vehicles = vehicles.drop_duplicates()
# remove rows when the column CURRENT_STATUS is null
vehicles = vehicles.filter(vehicles["current_status"].isNotNull())
# remove any corrupted record (????)

In [122]:
from pyspark.sql.functions import *

# Lines
# remove duplicates
lines = lines.drop_duplicates()
# remove rows when the column LONG_NAME is null
lines = lines.filter(lines["long_name"].isNotNull())
# remove any corrupted record
lines = lines.filter(lines["_corrupt_record"].isNull())

In [123]:
# Municipalities
# remove duplicates
municipalities = municipalities.drop_duplicates()
# remove rows when the columns NAME or DISTRICT_NAME are null
municipalities = municipalities.filter(municipalities["name"].isNotNull() & municipalities["district_name"].isNotNull())
# remove any corrupted record (???)

In [124]:
!mkdir -p /content/lake/silver

In [125]:
path_vehicles = "/content/lake/silver/vehicles"
path_lines = "/content/lake/silver/lines"
path_municipalities = "/content/lake/silver/municipalities"

In [126]:
(vehicles
.coalesce(1)
.write
.mode("overwrite")
.partitionBy("date")
.format("parquet")
.save(path_vehicles)
)


(lines
.write
.mode("overwrite")
.format("parquet")
.save(path_lines)
)


(municipalities
.write
.mode("overwrite")
.format("parquet")
.save(path_municipalities)
)

# CHALLENGE 3
##  Implement ENRICH process
- Set up path in the "lake"
  - !mkdir -p /content/lake/gold

- Read data from SILVER layer
  - Paths:
    - vehicles - path: /content/lake/silver/vehicles
    - lines - path: /content/lake/silver/lines
    - municipalities - path: /content/lake/silver/municipalities
  - Use StructFields to enforce schema

- Enrichment
  - Enrich vehicles dataset with information from the line and municipalities
    - join vehicles with lines and municipalities
      - select all columns from vehicles + lines.long_name (name: line_name, format:string) + municipalities.name (name: municipality_name, format: array)
      - Note that "municipalities.name" is an array

- Write data as PARQUET into the GOLD layer (/content/lake/gold)
  - Dataset name: vehicles_enriched
  - Partition "vehicles_enriched" by "date" column
  - Paths:
    - vehicles - path: /content/lake/gold/vehicles_enriched
  - Make sure there is only 1 single parquet created
  - Use overwrite as write mode

In [127]:
vehicles = spark.read.parquet("/content/lake/silver/vehicles", schema = vehicle_schema)

In [128]:
lines = spark.read.parquet("/content/lake/silver/lines", schema = lines_schema)

In [129]:
municipalities = spark.read.parquet("/content/lake/silver/municipalities", schema = municipalities_schema)

In [130]:
# Extract info from the array in municiples
from pyspark.sql.functions import explode
lines_treated = lines.select(
    "facilities","id",explode(lines.municipalities).alias("municipalities_id")
).drop_duplicates()

In [131]:
vehicles_lines = vehicles.join(lines_treated, vehicles['line_id'] == lines_treated['id'], how = 'left')
vehicles_enriched = vehicles_lines.join(municipalities, lines_treated['municipalities_id'] == municipalities['id'], how = 'left')
vehicles_enriched.dropDuplicates().show()

+-------+--------------------+--------------+--------+---------+-------+---------+----------+--------+---------------------+------------+---------+-------+-------------------+--------------------+--------+----------+----+-----------------+-----------+-------------+----+-------------------+------+---------+-----------+
|bearing|            block_id|current_status|      id| latitude|line_id|longitude|pattern_id|route_id|schedule_relationship|    shift_id|    speed|stop_id|          timestamp|             trip_id|    date|facilities|  id|municipalities_id|district_id|district_name|  id|               name|prefix|region_id|region_name|
+-------+--------------------+--------------+--------+---------+-------+---------+----------+--------+---------------------+------------+---------+-------+-------------------+--------------------+--------+----------+----+-----------------+-----------+-------------+----+-------------------+------+---------+-----------+
|     78|             1156-11| IN_TRANSIT_TO| 42|2419|38.799732|   2790|-9.099071|  2790_1_2|  2790_1|            SCHEDULED|        1253|11.388889| 070753|2024-11-22 20:33:11|2790_1_2|1|1|2005...|20241122|        []|2790|             1106|         11|       Lisboa|1106|             Lisboa|    06|    PT170|        AML|
|    178|20241122-64010165...| IN_TRANSIT_TO|44|12689| 38.64477|   4710|-8.914935|  4710_0_1|  4710_0|            SCHEDULED|113180234560| 8.888889| 130451|2024-11-22 20:33:43|4710_0_1|2200|200...|20241122|        []|4710|             1508|         15|      Setúbal|1508|            Palmela|    13|    PT170|        AML|
|    313|                1216| IN_TRANSIT_TO| 42|1216|38.760437|   2756|-9.161948|  2756_0_1|  2756_0|            SCHEDULED|       43711|      5.0| 110785|2024-11-22 20:33:21|2756_0_1|150|1|20...|20241122|        []|2756|             1116|         11|       Lisboa|1116|           Odivelas|    11|    PT170|        AML|
|    222|           1_1058-11| IN_TRANSIT_TO| 41|1355|38.804363|   1710|-9.229178|  1710_3_1|  1710_3|            SCHEDULED|        1127|11.388889| 171617|2024-11-22 20:33:38|1710_3_1_2000_202...|20241122|        []|1710|             1116|         11|       Lisboa|1116|           Odivelas|    11|    PT170|        AML|
|     69|             1114-11| IN_TRANSIT_TO| 42|2700|38.849915|   2532|-9.158699|  2532_0_2|  2532_0|            SCHEDULED|        1267|     10.0| 070940|2024-11-22 20:33:35|2532_0_2|1|1|2000...|20241122|        []|2532|             1114|         11|       Lisboa|1114|Vila Franca de Xira|    18|    PT170|        AML|
|      6|             1058-11| IN_TRANSIT_TO| 42|2363|38.816498|   2727|-9.154689|  2727_0_1|  2727_0|            SCHEDULED|        1314| 9.722222| 070524|2024-11-22 20:33:13|2727_0_1|1|1|1935...|20241122|        []|2727|             1106|         11|       Lisboa|1106|             Lisboa|    06|    PT170|        AML|
|    322|           1_1317-11|   INCOMING_AT| 41|1234|38.691578|   1638| -9.35367|  1638_0_2|  1638_0|            SCHEDULED|        1342| 8.333333| 050040|2024-11-22 20:33:25|1638_0_2_2030_205...|20241122|        []|1638|             1110|         11|       Lisboa|1110|             Oeiras|    12|    PT170|        AML|
|    118|                1099|   INCOMING_AT| 42|1099| 38.83761|   2751|-9.188685|  2751_0_1|  2751_0|            SCHEDULED|       46011| 8.055555| 070022|2024-11-22 20:33:43|2751_0_1|150|1|19...|20241122|        []|2751|             1109|         11|       Lisboa|1109|              Mafra|    08|    PT170|        AML|
|    334|20241122-64010061...| IN_TRANSIT_TO|44|12509|38.562473|   4612|-8.990428|  4612_0_2|  4612_0|            SCHEDULED|121820234560|15.277778| 130700|2024-11-22 20:33:46|4612_0_2|2200|202...|20241122|        []|4612|             1508|         15|      Setúbal|1508|            Palmela|    13|    PT170|        AML|
|    184|             1722-11|   INCOMING_AT| 42|2752|38.803047|   2764|-9.157676|  2764_0_1|  2764_0|            SCHEDULED| 1737P2+1787|     10.0| 071137|2024-11-22 20:33:40|2764_0_1|1|1|2000...|20241122|        []|2764|             1116|         11|       Lisboa|1116|           Odivelas|    11|    PT170|        AML|
|    350|       ESC_DU_EU2113| IN_TRANSIT_TO| 43|2297|38.676117|   3705|-9.173735|  3705_0_1|  3705_0|            SCHEDULED|      EU2184| 8.611111| 060021|2024-11-22 20:33:12|3705_0_1_2000_202...|20241122|        []|3705|             1503|         15|      Setúbal|1503|             Almada|    02|    PT170|        AML|
|    212|                1254| IN_TRANSIT_TO| 42|1254|38.802216|   2776|-9.158048|  2776_0_1|  2776_0|            SCHEDULED|       46201|     12.5| 110619|2024-11-22 20:33:30|2776_0_1|150|1|20...|20241122|        []|2776|             1116|         11|       Lisboa|1116|           Odivelas|    11|    PT170|        AML|
|    241|       ESC_DU_EU2046| IN_TRANSIT_TO| 43|2120|38.664986|   3504|-9.184232|  3504_0_1|  3504_0|            SCHEDULED|      EU2227|11.944445| 020075|2024-11-22 20:32:57|3504_0_1_2030_205...|20241122|        []|3504|             1510|         15|      Setúbal|1510|             Seixal|    14|    PT170|        AML|
|      0|           1_1060-11|    STOPPED_AT| 41|1146|38.745644|   1509|-9.245995|  1509_0_1|  1509_0|            SCHEDULED|        1113|      0.0| 030847|2024-11-22 20:32:31|1509_0_1_2030_205...|20241122|        []|1509|             1115|         11|       Lisboa|1115|            Amadora|    03|    PT170|        AML|
|    179|       ESC_DU_EU3011| IN_TRANSIT_TO|  43|663|38.557575|   3620| -9.05208|  3620_0_1|  3620_0|            SCHEDULED|      EU3097|      0.0| 150031|2024-11-22 20:33:38|3620_0_1_2000_202...|20241122|        []|3620|             1504|         15|      Setúbal|1504|           Barreiro|    04|    PT170|        AML|
|      0|       ESC_DU_EU1046|    STOPPED_AT| 43|2353|38.628803|   3512|-9.125891|  3512_0_2|  3512_0|            SCHEDULED|      EU1167|      0.0| 140758|2024-11-22 20:33:28|3512_0_2_2030_205...|20241122|        []|3512|             1503|         15|      Setúbal|1503|             Almada|    02|    PT170|        AML|
|    175|             1138-11| IN_TRANSIT_TO| 42|2311| 38.80854|   2729|-9.102108|  2729_0_2|  2729_0|            SCHEDULED|        1235| 8.888889| 071293|2024-11-22 20:33:42|2729_0_2|1|1|2015...|20241122|        []|2729|             1107|         11|       Lisboa|1107|             Loures|    07|    PT170|        AML|
|      0|           1_1011-11|    STOPPED_AT| 41|1284| 38.71078|   1502| -9.24054|  1502_0_1|  1502_0|            SCHEDULED|        1083|      0.0| 120160|2024-11-22 20:33:28|1502_0_1_2000_202...|20241122|        []|1502|             1115|         11|       Lisboa|1115|            Amadora|    03|    PT170|        AML|
|      0|                1111| IN_TRANSIT_TO| 42|1111|38.908836|   2755|-9.217184|  2755_0_1|  2755_0|            SCHEDULED|       44362|      0.0| 071557|2024-11-22 20:33:00|2755_0_1|150|1|19...|20241122|        []|2755|             1106|         11|       Lisboa|1106|             Lisboa|    06|    PT170|        AML|
|    158|           1_1328-11| IN_TRANSIT_TO| 41|1183|38.733227|   1612|-9.297912|  1612_0_1|  1612_0|            SCHEDULED|   1341'_001|20.555555| 121273|2024-11-22 20:33:03|1612_0_1_2000_202...|20241122|        []|1612|             1110|         11|       Lisboa|1110|             Oeiras|    12|    PT170|        AML|
+-------+--------------------+--------------+--------+---------+-------+---------+----------+--------+---------------------+------------+---------+-------+-------------------+--------------------+--------+----------+----+-----------------+-----------+-------------+----+-------------------+------+---------+-----------+
only showing top 20 rows

In [132]:
vehicles_enriched = vehicles_enriched.select(
      "line_id"
    , "current_status"
    , "schedule_relationship"
    , "shift_id"
    , "speed"
    , "stop_id"
    , "date"
    , "facilities"
    , "municipalities_id"
    , "district_name"
    , "name"
    , "prefix"
    , "region_id"
    , "region_name"
).drop_duplicates()

In [133]:
!mkdir -p /content/lake/gold

In [134]:
path_vehicles_enriched = "/content/lake/gold/vehicles_enriched"

In [135]:
vehicles_enriched.show()

+-------+--------------+---------------------+------------+---------+-------+--------+----------+-----------------+-------------+--------+------+---------+-----------+
|line_id|current_status|schedule_relationship|    shift_id|    speed|stop_id|    date|facilities|municipalities_id|district_name|    name|prefix|region_id|region_name|
+-------+--------------+---------------------+------------+---------+-------+--------+----------+-----------------+-------------+--------+------+---------+-----------+
|   3523| IN_TRANSIT_TO|            SCHEDULED|      EU1133| 8.333333| 140194|20241122|        []|             1503|      Setúbal|  Almada|    02|    PT170|        AML|
|   1506| IN_TRANSIT_TO|            SCHEDULED|        1107|10.555555| 030311|20241122|        []|             1115|       Lisboa| Amadora|    03|    PT170|        AML|
|   4621| IN_TRANSIT_TO|            SCHEDULED|121700230560|      0.0| 140062|20241122|        []|             1510|      Setúbal|  Seixal|    14|    PT170|        AML|
|   3702| IN_TRANSIT_TO|            SCHEDULED|      EU2215|5.2777777| 020001|20241122|        []|             1503|      Setúbal|  Almada|    02|    PT170|        AML|
|   1525|    STOPPED_AT|            SCHEDULED|        1649|      0.0| 121141|20241122|        []|             1110|       Lisboa|  Oeiras|    12|    PT170|        AML|
|   1720|   INCOMING_AT|            SCHEDULED|        1086|2.2222223| 170598|20241122|        []|             1111|       Lisboa|  Sintra|    17|    PT170|        AML|
|   3721| IN_TRANSIT_TO|            SCHEDULED|      EU3065|     15.0| 150556|20241122|        []|             1511|      Setúbal|Sesimbra|    15|    PT170|        AML|
|   4701| IN_TRANSIT_TO|            SCHEDULED|123450234560|26.666666| 100417|20241122|        []|             1106|       Lisboa|  Lisboa|    06|    PT170|        AML|
|   2753| IN_TRANSIT_TO|            SCHEDULED|       44149|11.666667| 080371|20241122|        []|             1106|       Lisboa|  Lisboa|    06|    PT170|        AML|
|   3635| IN_TRANSIT_TO|            SCHEDULED|      EU3091|      0.0| 160949|20241122|        []|             1504|      Setúbal|Barreiro|    04|    PT170|        AML|
|   2802| IN_TRANSIT_TO|            SCHEDULED|      400606|24.166666| 080346|20241122|        []|             1106|       Lisboa|  Lisboa|    06|    PT170|        AML|
|   2781| IN_TRANSIT_TO|            SCHEDULED|        1611|11.944445| 070364|20241122|        []|             1106|       Lisboa|  Lisboa|    06|    PT170|        AML|
|   1601|    STOPPED_AT|            SCHEDULED|        1670|3.6111112| 121187|20241122|        []|             1105|       Lisboa| Cascais|    05|    PT170|        AML|
|   1502|    STOPPED_AT|            SCHEDULED|        1069|      0.0| 030445|20241122|        []|             1110|       Lisboa|  Oeiras|    12|    PT170|        AML|
|   2764|    STOPPED_AT|            SCHEDULED|        1784|      0.0| 070037|20241122|        []|             1107|       Lisboa|  Loures|    07|    PT170|        AML|
|   4521| IN_TRANSIT_TO|            SCHEDULED|121530234560|12.777778| 100393|20241122|        []|             1507|      Setúbal| Montijo|    10|    PT170|        AML|
|   2736| IN_TRANSIT_TO|            SCHEDULED|        1198| 6.111111| 060275|20241122|        []|             1106|       Lisboa|  Lisboa|    06|    PT170|        AML|
|   4730| IN_TRANSIT_TO|            SCHEDULED|113170234560|      0.0| 140121|20241122|        []|             1511|      Setúbal|Sesimbra|    15|    PT170|        AML|
|   2701|    STOPPED_AT|            SCHEDULED|        1608|      0.0| 060372|20241122|        []|             1106|       Lisboa|  Lisboa|    06|    PT170|        AML|
|   2769| IN_TRANSIT_TO|            SCHEDULED|        1834|6.6666665| 070317|20241122|        []|             1116|       Lisboa|Odivelas|    11|    PT170|        AML|
+-------+--------------+---------------------+------------+---------+-------+--------+----------+-----------------+-------------+--------+------+---------+-----------+
only showing top 20 rows

In [136]:
(vehicles_enriched
.coalesce(1)
.write
.mode("overwrite")
.partitionBy("date")
.format("parquet")
.save(path_vehicles_enriched)
)