<a href="https://colab.research.google.com/github/carsofferrei/04_data_processing/blob/main/spark/challenges/challenge_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CHALLENGE 1
##  Implement INGESTION process
- Set up path in the "lake"
  - !mkdir -p /content/lake/bronze

- Read data from API https://api.carrismetropolitana.pt/
  - Endpoints:
    - vehicles
    - lines
    - municipalities
  - Use StructFields to enforce schema

- Transformations
  - vehicles
    - create "date" extracted from "timestamp" column (format: hh24miss)

- Write data as PARQUET into the BRONZE layer (/content/lake/bronze)
  - Partition "vehicles" by "date" column
  - Paths:
    - vehicles - path: /content/lake/bronze/vehicles
    - lines - path: /content/lake/bronze/lines
    - municipalities - path: /content/lake/bronze/municipalities
  - Make sure there is only 1 single parquet created
  - Use overwrite as write mode

# Setting up PySpark

In [53]:
%pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [54]:
# Import SparkSession

from pyspark.sql import SparkSession
spark = SparkSession.builder.master('local').appName('Carla_Ferreira_API_challenge').config('spark.ui.port', '4050').getOrCreate()
sc = spark.sparkContext

In [55]:
import requests
from pyspark.sql.types import *

def readFromAPI(url: str, schema: StructType = None):
  response = requests.get(url)
  rdd = sc.parallelize(response.json())

  if schema:
    df = spark.read.schema(schema).json(rdd)
  else:
    df = spark.read.json(rdd)
  return df

In [57]:
#Schemas
vehicle_schema = StructType([StructField('bearing', IntegerType(), True),
                             StructField('block_id', StringType(), True),
                             StructField('current_status', StringType(), True),
                             StructField('id', StringType(), True),
                             StructField('lat', FloatType(), True),
                             StructField('line_id', StringType(), True),
                             StructField('lon', FloatType(), True),
                             StructField('pattern_id', StringType(), True),
                             StructField('route_id', StringType(), True),
                             StructField('schedule_relationship', StringType(), True),
                             StructField('shift_id', StringType(), True),
                             StructField('speed', FloatType(), True),
                             StructField('stop_id', StringType(), True),
                             StructField('timestamp', TimestampType(), True),
                             StructField('trip_id', StringType(), True)
                             ])


lines_schema = StructType([StructField('_corrupt_record', StringType(), True),
                           StructField('color', StringType(), True),
                           StructField('facilities', StringType(), True),
                           StructField('id', StringType(), True),
                           StructField('localities', ArrayType(StringType()), True),
                           StructField('long_name', StringType(), True),
                           StructField('municipalities', ArrayType(StringType()), True),
                           StructField('patterns', ArrayType(StringType()), True),
                           StructField('routes', StringType(), True),
                           StructField('short_name', StringType(), True),
                           StructField('text_color', StringType(), True)
                           ])

municipalities_schema = StructType([StructField('district_id', StringType(), True),
                                    StructField('district_name', StringType(), True),
                                    StructField('id', StringType(), True),
                                    StructField('name', StringType(), True),
                                    StructField('prefix', StringType(), True),
                                    StructField('region_id', StringType(), True),
                                    StructField('region_name', StringType(), True)
                                    ])

In [58]:
vehicles = readFromAPI("https://api.carrismetropolitana.pt/vehicles", schema = vehicle_schema)
lines = readFromAPI("https://api.carrismetropolitana.pt/lines", schema = lines_schema)
municipalities = readFromAPI("https://api.carrismetropolitana.pt/municipalities", schema = municipalities_schema)

In [59]:
# create "date" extracted from "timestamp" column (format: hh24miss) -- this format doesnt make sense, the correct is yyyyMMdd
from pyspark.sql.functions import date_format
vehicles = vehicles.withColumn("date", date_format('timestamp', "yyyyMMdd"))

vehicles.show()

+-------+--------------------+--------------+--------+---------+-------+---------+----------+--------+---------------------+------------+---------+-------+-------------------+--------------------+--------+
|bearing|            block_id|current_status|      id|      lat|line_id|      lon|pattern_id|route_id|schedule_relationship|    shift_id|    speed|stop_id|          timestamp|             trip_id|    date|
+-------+--------------------+--------------+--------+---------+-------+---------+----------+--------+---------------------+------------+---------+-------+-------------------+--------------------+--------+
|    145|20241121-64010054...| IN_TRANSIT_TO|44|12535|38.700203|   4504|-9.005495|  4504_0_1|  4504_0|            SCHEDULED|121890234560|      0.0| 100138|2024-11-21 21:28:20|4504_0_1|2100|213...|20241121|
|      7|           1_1033-11| IN_TRANSIT_TO| 41|1176|38.763058|   1710|-9.197116|  1710_3_2|  1710_3|            SCHEDULED|        1140|0.2777778| 110045|2024-11-21 21:28:06|1710_3_2_2100_212...|20241121|
|     45|20241121-64010200...| IN_TRANSIT_TO|44|12087| 38.52082|   4438|-8.901303|  4438_1_2|  4438_1|            SCHEDULED|112500234560|      0.0| 160347|2024-11-21 21:28:21|4438_1_2|2100|213...|20241121|
|     13|           1_1606-11| IN_TRANSIT_TO| 41|1300| 38.74764|   1717|-9.264065|  1717_0_2|  1717_0|            SCHEDULED|        1695|11.944445| 170921|2024-11-21 21:28:25|1717_0_2_2100_212...|20241121|
|    111|             1528-11| IN_TRANSIT_TO|  42|281| 38.76444|   2833| -9.19933|  2833_0_3|  2833_0|            SCHEDULED|        1653|6.9444447| 060372|2024-11-21 21:27:38|2833_0_3|1|1|2055...|20241121|
|    195|             1155-11| IN_TRANSIT_TO| 42|2315|38.879757|   2790|-9.051224|  2790_0_1|  2790_0|            SCHEDULED|        1149|     12.5| 180727|2024-11-21 21:27:59|2790_0_1|1|1|2120...|20241121|
|     77|20241121-64010259...| IN_TRANSIT_TO|44|12550|38.570484|   4562|-8.904285|  4562_0_1|  4562_0|            SCHEDULED|111640234560|5.8333335| 130135|2024-11-21 21:28:23|4562_0_1|2100|204...|20241121|
|    184|20241121-64010566...| IN_TRANSIT_TO|44|12712|38.767815|   4702|-9.100478|  4702_0_1|  4702_0|            SCHEDULED|123540234560|      0.0| 060009|2024-11-21 21:28:23|4702_0_1|2100|213...|20241121|
|      4|20241121-64010324...|   INCOMING_AT|44|12539|38.526375|   4412|-8.886907|  4412_0_2|  4412_0|            SCHEDULED|111650234560|     10.0| 160141|2024-11-21 21:28:34|4412_0_2|2100|212...|20241121|
|     10|20241121-64010050...| IN_TRANSIT_TO|44|12521| 38.74857|   4600|-8.967109|  4600_0_2|  4600_0|            SCHEDULED|121930234560| 6.111111| 010082|2024-11-21 21:28:24|4600_0_2|2100|200...|20241121|
|    169|20241121-64010569...|   INCOMING_AT|44|12659|38.696247|   4704|-8.928884|  4704_0_2|  4704_0|            SCHEDULED|123530234560|     12.5| 100171|2024-11-21 21:28:15|4704_0_2|2100|205...|20241121|
|    159|           1_1717-11| IN_TRANSIT_TO| 41|1225|38.903763|   1245|-9.417565|  1245_0_2|  1245_0|            SCHEDULED|        1798|     10.0| 171626|2024-11-21 21:28:26|1245_0_2_2100_212...|20241121|
|    184|           1_1021-11| IN_TRANSIT_TO| 41|1327|38.770756|   1006| -9.22761|  1006_0_1|  1006_0|            SCHEDULED|        1133|     10.0| 030185|2024-11-21 21:28:23|1006_0_1_2100_212...|20241121|
|    347|                1098| IN_TRANSIT_TO| 42|1098|38.958473|   2805|-9.315992|  2805_0_2|  2805_0|            SCHEDULED|       45914|13.333333| 080184|2024-11-21 21:28:21|2805_0_2|140|1|20...|20241121|
|    135|           1_1057-11| IN_TRANSIT_TO| 41|1316|38.787434|   1709|-9.225895|  1709_0_1|  1709_0|            SCHEDULED|        1137|11.388889| 030801|2024-11-21 21:28:19|1709_0_1_2100_212...|20241121|
|    141|           1_1703-11|   INCOMING_AT| 41|1204|  38.8362|   1245|-9.369827|  1245_0_1|  1245_0|            SCHEDULED|        1824| 8.333333| 171517|2024-11-21 21:28:21|1245_0_1_2100_212...|20241121|
|    349|           1_1911-11|    STOPPED_AT| 41|1265|38.860996|   1240| -9.33191|  1240_0_2|  1240_0|            SCHEDULED|        1911|1.9444444| 172101|2024-11-21 21:28:30|1240_0_2_2100_212...|20241121|
|    351|             1030-11| IN_TRANSIT_TO| 42|2357|38.775223|   2708|-9.100956|  2708_0_2|  2708_0|            SCHEDULED|        1201|5.5555553| 071311|2024-11-21 21:28:13|2708_0_2|1|1|2120...|20241121|
|    279|20241121-64010188...|   INCOMING_AT|44|12075| 38.52211|   4426|-8.860842|  4426_0_1|  4426_0|            SCHEDULED|112600234500|4.1666665| 160237|2024-11-21 21:28:12|4426_0_1|2100|210...|20241121|
|    275|             1522-11|   INCOMING_AT| 42|2577|38.791084|   2823|-9.203083|  2823_0_1|  2823_0|            SCHEDULED|        1640|     10.0| 110675|2024-11-21 21:28:26|2823_0_1|1|1|2115...|20241121|
+-------+--------------------+--------------+--------+---------+-------+---------+----------+--------+---------------------+------------+---------+-------+-------------------+--------------------+--------+
only showing top 20 rows

In [60]:
from pyspark.sql import functions as F

vehicles.select("date").distinct().agg(F.min("date").alias("min_date")).show()
vehicles.select("date").distinct().agg(F.max("date").alias("max_date")).show()

# there's only one day in this file.

+--------+
|min_date|
+--------+
|20241121|
+--------+

+--------+
|max_date|
+--------+
|20241121|
+--------+

Write data as PARQUET into the BRONZE layer (/content/lake/bronze)

*   Partition "vehicles" by "date" column
*   Paths: /content/lake/bronze/vehicles, /content/lake/bronze/lines
, /content/lake/bronze/municipalities

Make sure there is only 1 single parquet created /
Use overwrite as write mode

Declare the directory to write the data that came from API carrismetropolitana

In [61]:
!mkdir -p /content/lake/bronze

path_vehicles = "/content/lake/bronze/vehicles"
path_lines = "/content/lake/bronze/lines"
path_municipalities = "/content/lake/bronze/municipalities"

In [62]:
(vehicles
.coalesce(1)
.write
.mode("overwrite")
.partitionBy("date")
.format("parquet")
.save(path_vehicles)
)


(lines
.write
.mode("overwrite")
.format("parquet")
.save(path_lines)
)


(municipalities
.write
.mode("overwrite")
.format("parquet")
.save(path_municipalities)
)

# CHALLENGE 2
##  Implement CLEANSING process
- Set up path in the "lake"
  - !mkdir -p /content/lake/silver

- Read data from BRONZE layer as PARQUET:
    - vehicles - path: /content/lake/bronze/vehicles
    - lines - path: /content/lake/bronze/lines
    - municipalities - path: /content/lake/bronze/municipalities

- Transformations
  - vehicles
    - rename "lat" and "lon" to "latitude" and "longitude" respectively
    - remove possible duplicates
    - remove rows when the column CURRENT_STATUS is null
    - remove any corrupted record
  - lines
    - remove duplicates
    - remove rows when the column LONG_NAME is null
    - remove any corrupted record
  - municipalities
    - remove duplicates
    - remove rows when the columns NAME or DISTRICT_NAME are null
    - remove any corrupted record

- Write data as PARQUET into the SILVER layer (/content/lake/silver)
  - Partition "vehicles" by "date"(created in the ingestion)
  - Paths:
    - vehicles - path: /content/lake/silver/vehicles
    - lines - path: /content/lake/silver/lines
    - municipalities - path: /content/lake/silver/municipalities

In [63]:
vehicles = spark.read.parquet("/content/lake/bronze/vehicles", schema = vehicle_schema)

In [64]:
lines = spark.read.parquet("/content/lake/bronze/lines", schema = lines_schema)

In [65]:
municipalities = spark.read.parquet("/content/lake/bronze/municipalities", schema = municipalities_schema)

In [66]:
from pyspark.sql.functions import *

# Vehicles
# rename "lat" and "lon" to "latitude" and "longitude" respectively
vehicles = vehicles.withColumnRenamed("lat", "latitude").withColumnRenamed("lon", "longitude")

# remove possible duplicates
vehicles = vehicles.drop_duplicates()
# remove rows when the column CURRENT_STATUS is null
vehicles = vehicles.filter(vehicles["current_status"].isNotNull())
# remove any corrupted record (????)

In [67]:
from pyspark.sql.functions import *

# Lines
# remove duplicates
lines = lines.drop_duplicates()
# remove rows when the column LONG_NAME is null
lines = lines.filter(lines["long_name"].isNotNull())
# remove any corrupted record
lines = lines.filter(lines["_corrupt_record"].isNull())

In [68]:
# Municipalities
# remove duplicates
municipalities = municipalities.drop_duplicates()
# remove rows when the columns NAME or DISTRICT_NAME are null
municipalities = municipalities.filter(municipalities["name"].isNotNull() & municipalities["district_name"].isNotNull())
# remove any corrupted record

In [69]:
!mkdir -p /content/lake/silver

In [70]:
path_vehicles = "/content/lake/silver/vehicles"
path_lines = "/content/lake/silver/lines"
path_municipalities = "/content/lake/silver/municipalities"

In [71]:
(vehicles
.coalesce(1)
.write
.mode("overwrite")
.partitionBy("date")
.format("parquet")
.save(path_vehicles)
)


(lines
.write
.mode("overwrite")
.format("parquet")
.save(path_lines)
)


(municipalities
.write
.mode("overwrite")
.format("parquet")
.save(path_municipalities)
)

# CHALLENGE 3
##  Implement ENRICH process
- Set up path in the "lake"
  - !mkdir -p /content/lake/gold

- Read data from SILVER layer
  - Paths:
    - vehicles - path: /content/lake/silver/vehicles
    - lines - path: /content/lake/silver/lines
    - municipalities - path: /content/lake/silver/municipalities
  - Use StructFields to enforce schema

- Enrichment
  - Enrich vehicles dataset with information from the line and municipalities
    - join vehicles with lines and municipalities
      - select all columns from vehicles + lines.long_name (name: line_name, format:string) + municipalities.name (name: municipality_name, format: array)
      - Note that "municipalities.name" is an array

- Write data as PARQUET into the GOLD layer (/content/lake/gold)
  - Dataset name: vehicles_enriched
  - Partition "vehicles_enriched" by "date" column
  - Paths:
    - vehicles - path: /content/lake/gold/vehicles_enriched
  - Make sure there is only 1 single parquet created
  - Use overwrite as write mode

In [72]:
vehicles = spark.read.parquet("/content/lake/silver/vehicles", schema = vehicle_schema)

In [73]:
lines = spark.read.parquet("/content/lake/silver/lines", schema = lines_schema)

In [74]:
municipalities = spark.read.parquet("/content/lake/silver/municipalities", schema = municipalities_schema)

In [76]:
# Extract info from the array in municiples
from pyspark.sql.functions import explode
lines_treated = lines.select(
    "long_name",
    explode(lines.municipalities).alias("municipality")  # Explode 'municipalities' into individual rows
)

In [77]:
lines_treated.show()

+--------------------+------------+
|           long_name|municipality|
+--------------------+------------+
|Casal de Cambra (...|        1115|
|Casal de Cambra (...|        1111|
|Ericeira (Termina...|        1109|
|Mitrena (Portucel...|        1512|
|Lisboa (Sete Rios...|        1512|
|Lisboa (Sete Rios...|        1511|
|Lisboa (Sete Rios...|        1504|
|Lisboa (Sete Rios...|        1510|
|Lisboa (Sete Rios...|        1503|
|Lisboa (Sete Rios...|        1106|
|Amadora (Hospital...|        1115|
|Amadora (Hospital...|        1111|
|  Ervideira - Gradil|        1109|
|Algeruz - Setúbal...|        1508|
|Algeruz - Setúbal...|        1512|
|Monte Abraão (Est...|        1111|
|Casal Cambra - Va...|        1111|
|Casal Cambra - Va...|        1116|
|Sto. Ant. Cavalei...|        1107|
|Lisboa (C. Grande...|        1106|
+--------------------+------------+
only showing top 20 rows

In [ ]:
vehicles_municipalities = vehicles.join(lines, vehicles['line_id'] = lines['id'], how = 'left')